@{Layout = "~/Views/Shared/_Layout1.cshtml"; }

@model Domain.Models.Perte_MatiereModel

@{ ViewData["Title"] = "Déclaration de perte des matières premières"; }
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:history.go(-1)"><i class="bx bxs-left-arrow-circle"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a asp-action="ListeDeclarations">Liste des déclaration des pertes des matières premières</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="card">
            <div class="card-header">
                <h4 class="card-title">Ajouter une déclaration.</h4>
                <a class="heading-elements-toggle">
                    <i class="bx bx-dots-vertical font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a data-action="collapse">
                                <i class="bx bx-chevron-down"></i>
                            </a>
                        </li>
                        <li>
                            <a data-action="expand">
                                <i class="bx bx-fullscreen"></i>
                            </a>
                        </li>
                        <li>
                            <a data-action="reload">
                                <i class="bx bx-revision"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- table success start -->

                            <div class="card mb-1">
                                <div>
                                    <form class="form">
@*                                        action="DeclarationPerte" onsubmit="theButton.disabled = true; return true;" method="post"
*@                                        <fieldset>
                                            <legend>Détails de déclaration</legend>
                                            <div class="form-row">
                                                <div class="col-md-3 mb-1">
                                                    <label for="Matiere">Matière Première</label>
                                                    <div>
                                                        <select class="custom-select" id="matiere" data-search="true" asp-for="@Model.PerteMatiere_MatierePremiereStockageID" asp-items="@ViewBag.MatiereStockage" onchange="getQteMagasin()" required>
                                                            <option value="" selected>Sélectionnez une matière première ...</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 mb-1">
                                                    <label for="Matiere">Quantité en magasin</label>
                                                    <input id="qteM" type="text" disabled class="form-control" />

                                                </div>
                                                <div class="col-md-2 mb-1">
                                                    <label for="Quantite">Quantité perdue</label>
                                                    <input id="quantite" type="number" min="0" step=".01" asp-for="@Model.PerteMatiere_Quantite" class="form-control" onkeyup="checkqte()" />
                                                    <div id='message2' style="color:red;display:none">La quantité indiquée est supérieure à la quantité en magasin</div>

                                                </div>
                                                <div class="col-md-2 mb-1">
                                                    <label for="Unite">Unité de mesure</label>
                                                    <div>
                                                        <select class="custom-select" id="unite" data-search="true" asp-for="@Model.PerteMatiere_UniteMesureID" asp-items="@ViewBag.Unite" required>
                                                            <option value="" selected>Sélectionnez une unité ...</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class=" text-md-right">
                                                    <button class="btn btn-sm btn-success glow mt-md-2 mb-1" id="disabled" onclick="AjoutTrpMoral()">Enregistrer</button>
                                                    <a class="btn btn-sm btn-danger glow mt-md-2 mb-1" asp-action="ListeDeclarations" >Annuler</a>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <!-- table success ends -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<section id="basic-form-layouts">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Détails.</h4>
                    <a class="heading-elements-toggle">
                        <i class="bx bx-dots-vertical font-medium-3"></i>
                    </a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li>
                                <a data-action="collapse">
                                    <i class="bx bx-chevron-down"></i>
                                </a>
                            </li>
                            <li>
                                <a data-action="expand">
                                    <i class="bx bx-fullscreen"></i>
                                </a>
                            </li>
                            <li>
                                <a data-action="reload">
                                    <i class="bx bx-revision"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">-->
        <!-- datatable start -->
        <!--<div class="table-responsive">
                        <div id="divTable" class="overflow-x-auto" style="display: none">
                            <table id="tableCamions" class="table mb-0">
                                <thead>
                                    <tr>
                                        <th class='border-b-2 dark:border-dark-5 whitespace-no-wrap'>Quantité</th>
                                        <th class='border-b-2 dark:border-dark-5 whitespace-no-wrap'>Unité Mesure </th>
                                        <th class='border-b-2 dark:border-dark-5 whitespace-no-wrap'>Matière Première</th>
                                        <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap"></th>
                                    </tr>
                                </thead>

                            </table>
                            <button class="btn btn-success" onclick="AjoutTrpMoral()">
                                <i class="bx bx-play"></i> Enregistrer
                            </button>

                            <a class="btn btn-danger" asp-action="ListeDesPlans">
                                Annuler
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </section>-->
    </div>
</div>

<script src="~/js/toastr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function camionAdd() {

        if (
            $("#quantite").val() != null && $("#quantite").val() != '' &&
            $("#demande").val() != null && $("#demande").val() != '' &&
            $("#planification").val() != null && $("#planification").val() != '' &&
            $("#unite").val() != null && $("#unite").val() != '' &&
            $("#matiere").val() != null && $("#matiere").val() != ''

        ) {
            camionAjout();
            formCamionClear();
        }
    }




    function camionAjout()
    {
        var demandeTxt = $("#demande option:selected").text();
        var demandeVal = $("#demande option:selected").val();

        var planTxt = $("#planification option:selected").text();
        var planVal = $("#planification option:selected").val();

        var matiereTxt = $("#matiere option:selected").text();
        var matiereVal = $("#matiere option:selected").val();

        var quantitetxt = $("#quantite").text();
        var quantiteval = $("#quantite").val();

        var uniteText = $("#unite").text();
        var uniteVal = $("#unite").val();

        if ($("#tableCamions tbody").length == 0) {
            $("#tableCamions").append("<tbody id='tbodyCamions'></tbody>");
            //document.getElementById('divTable').style.display = "block";
        }




        $("#tbodyCamions").append("<tr>" +
            "<td class='border-b dark:border-dark-5' style='display:none;' >" + demandeVal +
            "</td>" + "<td class='border-b dark:border-dark-5 text-sm-left'>" + matiereTxt + "</td>" +

            "<td class='border-b dark:border-dark-5'>" + parseFloat(quantiteval).toFixed(2).replace(".", ",") + "</td>" +

            "<td class='border-b dark:border-dark-5'  style='display:none;'>" + uniteVal + "</td>" +
            "<td>" + $("#unite option:selected").text() + "</td>" +

            "<td class='border-b dark:border-dark-5'  style='display:none;'>" + matiereVal + "</td>" +
            "<td class='border-b dark:border-dark-5'  style='display:none;'>" + planVal + "</td>" +

            "<td>" +
            '<button class="btn btn-outline-secondary btn-table round " onclick="CamionDelete(this)"><i class="bx bx-trash-alt"></i>Supprimer</button>' +
            "</tr>");

    }
    function formCamionClear() {
        $("#unite").val("");
        $("#quantite").val("");
        $("#matiere").val("");
    }

    //delete
    function CamionDelete(ctl) {
        $(ctl).parents("tr").remove();
        if ($("#tableCamions tbody tr").length == 0) {
            document.getElementById('divTable').style.display = "none";
        }
    }

    function AjoutTrpMoral() {
        document.getElementById('disabled').disabled = true;
        var perte = {
            PerteMatiere_MatierePremiereStockageID: $("#matiere option:selected").val(),
            PerteMatiere_Quantite: parseFloat($("#quantite").val()).toFixed(2).replace(".", ","),
            PerteMatiere_UniteMesureID: $("#unite option:selected").val()

        };

            var data = {
                perte_MatiereModel: perte
        };
            console.log(data);

        $.ajax({
            url: '@Url.Action("DeclarationPerte", "MatierePremiere")',
            type: "POST",
            cache: false,
            async: true,
            data: data,
            success: function (data) {
             if (data == true) {
                 ShowNotification("Déclaration ajoutée avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
                 setTimeout(
                            function () {
                                window.location.reload();
                            }, 1000);
             }
             else
             {
                 ShowNotification("Une erreur s'est produite!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
                 setTimeout(
                     function () {
                         window.location.reload();
                     }, 1000);
                    }
                },
        error: function () {
            alert("non ajoute");
        }
    });
    }
    function getQteMagasin() {
         $("#quantite").val("");
         $("#qteM").val("");
            $.ajax({
                url: '@Url.Action("getQuantiteAtelier", "ProduitVendable")',
                type: "POST",
                cache: false,
                async: true,
                data: { 'matiereId': parseInt($("#matiere option:selected").val()) },
                success: function (data) {
                    $("#qteM").val(data.matierePremiere_QuantiteEnMagasin + " " + data.matierePremiere_UniteMesureLibelle);
                },
                error: function () {
                }
            });
    }
    function checkqte() {
        var a = $("#quantite").val();
        var b = $("#qteM").val();
        var splited = b.split(" ");
        if (a <= splited[0]) {
            console.log(splited[0])
            document.getElementById("message2").style.display = "none";
        }
        else {
            document.getElementById("message2").style.display = "block";
        }
    }
    
</script>