@model IEnumerable<Domain.Models.Approvisionnement_MatiereModel>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@{
    ViewData["Title"] = "Approvisionnement";
}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:history.go(-1)"><i class="bx bxs-left-arrow-circle"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="#">Liste des approvisionnements des matières premières </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">
                <div class="form-row">
                    @if (User.IsInRole("Client"))
                    {
                        <div class="col-md-2 offset-md-1 mb-1">
                            <label for="pdv">Point de stockage</label>
                            <div>
                                <select class="custom-select" id="point" data-search="true" asp-items="@ViewBag.Lieu">
                                    <option value="" selected disabled>Sélectionnez un point stockage...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 ">
                            <label for="pdv">Point de production</label>
                            <div>
                                <select class="custom-select" id="atelierID" data-search="true" asp-items="@ViewBag.production">
                                    <option value="" selected disabled>Sélectionnez un point de production...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 mb-1">
                            <label for="etat">Etat</label>
                            <div>
                                <div>
                                    <select class="custom-select" data-search="true" id="etat">
                                        <option value="En traitement" selected>Produits en cours de livraison</option>
                                        <option value="Reçue">Produits reçus</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-1">
                            <div class="form-group">
                                <label for="Date">Date d'approvisionnement</label>
                                <div>
                                    <input type="date" id="date" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class=" text-md-right">
                            <button class="btn btn-sm btn-success glow mt-md-2 mb-1" onclick="displayDashboard()">Filtrer</button>
                        </div>
                    }
                    @if (User.IsInRole("Gerant_de_stock"))
                    {
                        <div class="col-md-3 offset-md-1 mb-1">
                            <label for="pdv">Point de production</label>
                            <div>
                                <select class="custom-select" id="atelierID" data-search="true" asp-items="@ViewBag.production">
                                    <option value="" selected disabled>Sélectionnez un point de production...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 mb-1">
                            <label for="etat">Etat</label>
                            <div>
                                <div>
                                    <select class="custom-select" data-search="true" id="etat">
                                        <option value="En traitement" selected>Produits en cours de livraison</option>
                                        <option value="Reçue">Produits reçus</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-1">
                            <div class="form-group">
                                <label for="Date">Date d'approvisionnement</label>
                                <div>
                                    <input type="date" id="date" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class=" text-md-right">
                            <button class="btn btn-sm btn-success glow mt-md-2 mb-1" onclick="displayDashboard()">Filtrer</button>
                        </div>
                    }
                    @if (User.IsInRole("Chef_Patissier"))
                    {
                        <div class="col-md-3 offset-md-1 mb-1">
                            <label for="pdv">Point de stockage</label>
                            <div>
                                <select class="custom-select" id="point" data-search="true" asp-items="@ViewBag.Lieu">
                                    <option value="" selected disabled>Sélectionnez un point stockage...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 mb-1">
                            <label for="etat">Etat</label>
                            <div>
                                <div>
                                    <select class="custom-select" data-search="true" id="etat">
                                        <option value="En traitement" selected>Produits en cours de livraison</option>
                                        <option value="Reçue">Produits reçus</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-1">
                            <div class="form-group">
                                <label for="Date">Date d'approvisionnement</label>
                                <div>
                                    <input type="date" id="date" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class=" text-md-right">
                            <button class="btn btn-sm btn-success glow mt-md-2 mb-1" onclick="displayDashboard()">Filtrer</button>
                        </div>
                    }
                </div>
                <div class="row">
                    <!-- Greetings Content Starts -->
                    <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                        <div class="card">
                            <div class="card-header">
                                @if (Model.Count() == 0)
                                {
                                    <h4 class="card-title">Veuillez sélectionnez un point de stockage / production</h4>
                                }
                                else
                                {<h4 class="card-title">Liste des approvisionnements des matières premières</h4>}
                                <a class="heading-elements-toggle">
                                    <i class="bx bx-dots-vertical font-medium-3"></i>
                                </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <a data-action="collapse">
                                                <i class="bx bx-chevron-down"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="expand">
                                                <i class="bx bx-fullscreen"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="reload">
                                                <i class="bx bx-revision"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- table success start -->
                                            <section id="table-success">
                                                <div class="card">
                                                    <!-- datatable start -->
                                                    <div class="table table-responsive">
                                                        <table id="table-Cartographie-Deposees" class="table mb-0">
                                                            <thead>
                                                                <tr>
                                                                    @if (User.IsInRole("Client"))
                                                                    {
                                                                        <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap text-sm-left">Point de stockage</th>
                                                                        <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap text-sm-left">Point de production</th>
                                                                    }
                                                                    @if (User.IsInRole("Gerant_de_stock"))
                                                                    {
                                                                        <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap text-sm-left">Point de production</th>
                                                                    }
                                                                    @if (User.IsInRole("Chef_Patissier"))
                                                                    {
                                                                        <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap text-sm-left">Point de stockage</th>
                                                                    }
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Matière première</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Quantité</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">date d'approvisionnement</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap text-sm-left">Statut</th>
                                                                    @if (User.IsInRole("Chef_Patissier"))
                                                                    { <th>Action</th>}
                                                                    </tr>
                                                            </thead>
                                                            <tbody id="usertbody">
                                                                @foreach (var item in Model.OrderByDescending(p => p.ApprovisionnementMatiere_ID))
                                                                {
                                                                <tr>
                                                                    @if (User.IsInRole("Client"))
                                                                    {
                                                                        <td class="text-bold-600 pr-0 text-sm-left">@Html.DisplayFor(modelItem => item.Atelier.Atelier_Nom)</td>
                                                                        <td class="text-bold-600 pr-0 text-sm-left">@Html.DisplayFor(modelItem => item.Lieu_Stockage.LieuStockag_Nom)</td>
                                                                    }
                                                                    @if (User.IsInRole("Gerant_de_stock"))
                                                                    {
                                                                        <td class="text-bold-600 pr-0 text-sm-left">@Html.DisplayFor(modelItem => item.Atelier.Atelier_Nom)</td>
                                                                    }
                                                                    @if (User.IsInRole("Chef_Patissier"))
                                                                    {
                                                                        <td class="text-bold-600 pr-0 text-sm-left">@Html.DisplayFor(modelItem => item.Lieu_Stockage.LieuStockag_Nom)</td>
                                                                    }

                                                                    @{ var qte = decimal.Parse(item.ApprovisionnementMatiere_Quantite.ToString()).ToString("G29");}
                                                                    <td class="text-bold-600 pr-0">@Html.DisplayFor(modelItem => item.MatierePremiereStockage.Matiere_Premiere.MatierePremiere_Libelle)</td>
                                                                    <td class="text-bold-600 pr-0">@qte @item.Unite_Mesure.UniteMesure_Libelle</td>
                                                                    <td class="text-bold-600 pr-0">@item.ApprovisionnementMatiere_DateApprovisionnement.ToShortDateString()</td>

                                                                    @if (item.ApprovisionnementMatiere_Etat == "En traitement")
                                                                    {
                                                                        <td class="text-bold-600 pr-0 text-info text-sm-left">En cours de Livraison</td>
                                                                        @if (User.IsInRole("Chef_Patissier"))
                                                                        {<td><button class="btn btn-outline-success btn-table round" onclick="fct(@item.ApprovisionnementMatiere_ID)"><i class="bx bx-check"></i>Valider la réception</button></td>}
                                                                    }
                                                                    else if (item.ApprovisionnementMatiere_Etat == "Reçue")
                                                                    {
                                                                        <td class="text-bold-600 pr-0 text-success text-sm-left">Matières premières reçues</td>
                                                                    }


                                                                </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- datatable ends -->
                                                </div>
                                            </section>
                                            <!-- table success ends -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
            <!-- Dashboard Ecommerce ends -->
            @* <div class="breadcrumb-item text-sm-right">
                    <a class="btn btn-outline-success round mr-1 mb-1" asp-action="Approvisionnement"><i class="bx bx-dish"></i><span class="align-middle ml-25">Approvisionner un point de vente</span></a>
                </div>*@
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<script>
        function fct(Approvisionnement_Id) {
        $.ajax({
            url: '@Url.Action("ValiderApprovisionnement", "MatierePremiere")',
            type: "POST",
            cache: false,
            async: true,
            data: { 'Approvisionnement_Id': Approvisionnement_Id },
            success: function (data) {
                if (data == true) {
                    ShowNotification(" Validé avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
                    setTimeout(
                        function () {
                            window.location.reload();
                        }, 500);
                } else {
                    ShowNotification("Une erreur s'est produite!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
                }
            },
            error: function () {
                ShowNotification("Error!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
            }
        });
    }
    function displayDashboard() {
        var etat = $("#etat").val();
        var stockID = $("#point").val();
        var prodID = $("#atelierID").val();
        var date = $("#date").val();
        window.location.href = '/MatierePremiere/ListeApprovisionnement?stockID=' + stockID + "&date=" + date + "&etat=" + etat + "&prodID=" + prodID;
    }
    Date.prototype.toDateInputValue = (function () {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 10);
    });
    document.getElementById('date').value = new Date().toDateInputValue();

</script>
