@model IEnumerable<Domain.Models.Perte_MatiereModel>
@{ Layout = "~/Views/Shared/_Layout1.cshtml"; }
@{ }
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:history.go(-1)"><i class="bx bxs-left-arrow-circle"></i></a>
                                </li>
                                @if (!User.IsInRole("Client")) 
                                {
                                    <li class="breadcrumb-item active">
                                    <a asp-action="DeclarationPerte">Déclaration de perte </a>
                                    </li>
                                }
                                
                                <li class="breadcrumb-item active">
                                    <a href="#">Liste des déclaration des pertes des matières premières</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">
                <div class="form-row">
@*                    <div class="offset-1 col-md-3">
                        <div class="form-group">
                            <label for="atelier">Matière première</label>
                            <div>
                                <select class="custom-select" id="matiere" data-search="true" asp-items="@ViewBag.MatiereStockage">
                                    <option value="" selected disabled>Sélectionnez une matière première...</option>
                                </select>
                            </div>
                        </div>
                    </div>*@
                    <div class="offset-3 col-md-3">
                        <div class="form-group">
                            <label for="atelier">Point de production</label>
                            <div>
                                <select class="custom-select" id="point" data-search="true" asp-items="@ViewBag.production">
                                    <option value="" selected disabled>Sélectionnez un point de production...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-1">
                        <div class="form-group">
                            <label for="Date">Date de déclaration</label>
                            <div>
                                <input type="date" id="date" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class=" text-md-right">
                        <button class="btn btn-sm btn-success glow mt-md-2 mb-1" onclick="displayDashboard()">Filtrer</button>
                    </div>
                </div>
                <div class="row">
                    <!-- Greetings Content Starts -->
                    <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"></h4>
                                <a class="heading-elements-toggle">
                                    <i class="bx bx-dots-vertical font-medium-3"></i>
                                </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <a data-action="collapse">
                                                <i class="bx bx-chevron-down"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="expand">
                                                <i class="bx bx-fullscreen"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="reload">
                                                <i class="bx bx-revision"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- table success start -->
                                            <section id="table-success">
                                                <div class="card">
                                                    <!-- datatable start -->
                                                    <div class="table">
                                                        <table id="table-Cartographie-Deposees" class="table mb-0">
                                                            <thead>
                                                                <tr>
                                                                    @if (User.IsInRole("Client"))
                                                                    {
                                                                        <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Point de Production</th>
                                                                    }
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Matière première</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Quantité</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Unité de mesure</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Date de déclaration</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="usertbody">
                                                                @foreach (var item in Model.OrderByDescending(p => p.PerteMatiere_DateCreation))
                                                                {

                                                                    <tr>

                                                                        @if (User.IsInRole("Client"))
                                                                        {
                                                                            <td class="text-bold-600 pr-0">@Html.DisplayFor(modelItem => item.Atelier.Atelier_Nom)</td>
                                                                        }
                                                                        <td class="text-bold-600 pr-0">@Html.DisplayFor(modelItem => item.matiereStock_Atelier.Matiere_Premiere.MatierePremiere_Libelle)</td>
                                                                        <td class="text-bold-600 pr-0">@Html.DisplayFor(modelItem => item.PerteMatiere_Quantite)</td>
                                                                        <td class="text-bold-600 pr-0">@Html.DisplayFor(modelItem => item.Unite_Mesure.UniteMesure_Libelle)</td>
                                                                        <td class="text-bold-600 pr-0">@Html.DisplayFor(modelItem => item.PerteMatiere_DateCreation)</td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- datatable ends -->
                                                </div>
                                            </section>
                                            <!-- table success ends -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
            <!-- Dashboard Ecommerce ends -->

        </div>
    </div>
</div>
<!-- END: Content-->
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<script>
    function deleteProduitVendable(id) {
       @*     var data = { id: id };
            $.ajax({
                url: '@Url.Action("DeletePlanification", "ProduitVendable")',
                type: "POST",
                cache: false,
                async: true,
                data: data,
                success: function (data) {
                    if (data == true) {
                        ShowNotification("Produit désactivé avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
                        setTimeout(
                            function () {
                                window.location.href = '@Url.Action("ListeDesPlans", "ProduitVendable")';
                                if ($("#usertbody tr").length == 0) {
                                    document.getElementById('usertable').style.display = "none";
                                }
                                }, 3000);

                    } else {
                        ShowNotification("Une erreur s'est produite!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
                        setTimeout(
                            function () {
                                   window.location.href = '@Url.Action("ListeDesPlans", "ProduitVendable")';
                                }, 3000);
                    }
                },
                error: function () {
                    alert("non supprime");
                }
            });*@
    }

    function Valider(demandeId) {
        $.ajax({
            url: '@Url.Action("AccepterDemande", "ProduitVendable")',
            type: "POST",
            cache: false,
            async: true,
            data: { 'demandeId': demandeId },
            success: function (data) {
                if (data == true) {
                    ShowNotification("Demande acceptée avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
                    setTimeout(
                        function () {
                            window.location.href = '@Url.Action("ListRetours", "ProduitVendable")';
                        }, 3000);
                } else {
                    ShowNotification("Une erreur s'est produite!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
                }
            },
            error: function () {
                ShowNotification("Error!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
            }
        });
    }

    function displayDashboard() {
        var matiere = $("#matiere").val();
        var point = $("#point").val();
        var date = $("#date").val();
        window.location.href = '/MatierePremiere/ListeDeclarations?atelierID=' + point + "&date=" + date + "&matiereID=" + matiere;
    }

    Date.prototype.toDateInputValue = (function () {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 10);
    });
    document.getElementById('date').value = new Date().toDateInputValue();
</script>

