
@{ Layout = "~/Views/Shared/_Layout1.cshtml"; }

@model Domain.Models.Approvisionnement_ProduitPackageModel
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:history.go(-1)"><i class="bx bxs-left-arrow-circle"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a asp-action="ListeApprovisionnementPackage">Liste des approvisionnements</a>
                                </li>

                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="basic-form-layouts">
            <div class="card">
                <div class="card-body">
                    <div class="px-3">
                        <fieldset>
                            <legend>Approvisionner un point de vente </legend>
                            <form class="form">
                                <div class="form-body">
                                    <h4 class="form-section">
                                    </h4>
                                    <div class="row">
                                        @if (User.IsInRole("Client"))
                                        {
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="PdV">Point de production</label>
                                                    <select class="custom-select" id="ate" data-search="true" asp-for="ApprovisionnementProduitPackage_AtelierID" asp-items="@ViewBag.production" required>
                                                        <option value="" selected disabled>Choisissez un point de production...</option>
                                                    </select>
                                                </div>
                                            </div>}
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="PdV">Point de vente</label>
                                                <select class="custom-select" id="pdv" data-search="true" asp-for="ApprovisionnementProduitPackage_PointVenteID" asp-items="@ViewBag.PdV" onchange="matiereListe()" required>
                                                    <option value="" selected disabled>Choisissez un point de vente...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="Produit">Produit package</label>
                                                <select class="custom-select" id="produit" data-search="true" onchange="familleList()" required>
                                                    <option value="" selected disabled>Choisir un produit package...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="Produit">Forme de produit</label>
                                                <select class="custom-select" id="forme" data-search="true" asp-for="ApprovisionnementProduitPackage_ProduitpackAtelierId" onchange="getQteProduite()" required>
                                                    <option value="" selected disabled>Choisir une forme produit...</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="Qte Produite">Quantité en magasin</label>
                                                <input type="text" class="form-control" id="qteproduite" placeholder="Quantité en magasin" disabled />
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="qteDist">Quantité à livrer</label>
                                                <input type="text" class="form-control" id="qteDistu" name="qte" asp-for="ApprovisionnementProduitPackage__Quantite" placeholder="Quantite à livrer" required />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="date">Date d'approvisionnement</label>
                                                <input type="date" class="form-control" asp-for="ApprovisionnementProduitPackage_Date" id="dateDist" required />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-sm-right">
                                    <a class="btn btn-danger" asp-action="ListeSectionStockage">
                                        Annuler
                                    </a>
                                    <button onclick="approv()" id="disabled" class="btn btn-success">
                                        <i class="icon-note"></i> Enregistrer
                                    </button>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<script>
    function getQteProduite() {
        var data = { produitPackAtelierID: parseInt($('#forme option:selected').val()) }
        console.log(data);
         $.ajax({

             url: '@Url.Action("getQtePack", "ProduitVendable")',
             type: "POST",
             cache: false,
             async: true,
             data: data,
                 success: function (data) {
                     console.log(data);
                     $("#qteproduite").val(data);

                     },
             error: function () {alert("non ajoute");}

             });
    }
    function familleList()
    {
          var data = { Id: parseInt($("#produit").val()) };
          if ($("#produit").val() != null) {
            $.ajax({
                url: '@Url.Action("formeMagasin", "ProduitVendable")',
                type: "POST",
                cache: false,
                async: true,
                data: data,
                success: function (data) {
                    if ($("#forme option").length > 1) {
                        $.each($("#forme option"), function (i, item) {
                            item.remove();
                        });
                        $("#forme").append("<option value='' selected disabled>Sélectionnez une forme de produit</option>");
                    }
                    $.each(data, function (i, item) {
                        $("#forme").append($('<option>', {
                            value: item.value,
                                text: item.text
                        }));
                    });
                },
                error: function () {
                }
            });

        }
    }
     function matiereListe()
    {
         var data = { PointVenteId: parseInt($("#pdv").val()) };
         console.log(data);
         if ($("#pdv").val() != null) {
            $.ajax({
                url: '@Url.Action("produitPackList", "ProduitVendable")',
                type: "POST",
                cache: false,
                async: true,
                data: data,
                success: function (data) {
                    if ($("#produit option").length > 1) {
                        $.each($("#produit option"), function (i, item) {
                            item.remove();
                        });
                        $("#produit").append("<option value='' selected disabled>Sélectionnez La matiere premiere</option>");
                    }
                    $.each(data, function (i, item) {
                        $("#produit").append($('<option>', {
                            value: item.value,
                                text: item.text
                        }));
                    });
                },
                error: function () {
                }
            });
        }
     }
    function approv() {
        document.getElementById("disabled").disabled = true;
        var approModel = {
            ApprovisionnementProduitPackage_AtelierID: parseInt($("#ate option:selected").val()) ,
            ApprovisionnementProduitPackage_PointVenteID: parseInt($("#pdv option:selected").val()),
            ApprovisionnementProduitPackage_ProduitpackAtelierId: parseInt($("#forme option:selected").val()),
            ApprovisionnementProduitPackage__Quantite: parseInt($("#qteDistu").val()),
            ApprovisionnementProduitPackage_Date: $("#dateDist").val(),
            //MatiereFamille_ParentID: parseInt($("#familleParent2").val()),

        };
        console.log(22222222)
        $.ajax({

             url: '@Url.Action("Approvisionnementpackage", "ProduitVendable")',
             type: "POST",
             cache: false,
             async: true,
            data: approModel,
            success: function (data) {
                if (data == true)
                {
                    ShowNotification("Approvisionnement ajouté avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
                    setTimeout(
                        function ()
                        {
                            window.location.reload();
                        }, 1000);
                } else
                {
                    ShowNotification("Une erreur s'est produite!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
                    setTimeout
                        (
                            function ()
                            {
                                window.location.reload();
                            }, 1000);
                    }
                     },
             error: function () {alert("non ajoute");}

         });
    }
    Date.prototype.toDateInputValue = (function () {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 10);
    });
    document.getElementById('dateDist').value = new Date().toDateInputValue();
</script>