@{
    ViewData["Title"] = "Bon de livraison";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@model Domain.Models.BonDeLivraison_Model

@{
    ViewData["Title"] = "Ajouter un bon de livraison";
}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:history.go(-1)"><i class="bx bxs-left-arrow-circle"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a asp-action="ListeBonDeLivraison">Liste des bons de livraisons</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">
                <div class="row">
                    <!-- Greetings Content Starts -->
                    <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Réception des matières premières</h4>
                                <a class="heading-elements-toggle"> <i class="bx bx-dots-vertical font-medium-3"></i> </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li> <a data-action="collapse"> <i class="bx bx-chevron-down"></i> </a> </li>
                                        <li> <a data-action="expand"> <i class="bx bx-fullscreen"></i> </a> </li>
                                        <li> <a data-action="reload"> <i class="bx bx-revision"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- table success start -->

                                            <div class="card mb-1">
                                                <!-- form start -->
                                                <form class="needs-validation" novalidate>
                                                    <div class="form-row">
                                                       
                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Fournisseur</label>
                                                            <div>
                                                                <select class="custom-select" id="fournisseur" data-search="true" asp-items="@ViewBag.fournisseur"  onchange="getBcFournisseur()" required>
                                                                    <option value="" selected disabled>Sélectionnez un fournisseur ...</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Bon de commande</label>
                                                            <div>
                                                                <select class="custom-select" id="bondecommande" data-search="true"   onchange="SousP()" required>
                                                                    <option value="" selected disabled>Sélectionnez un bon de commande ...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Numéro de BL</label>
                                                            <div>
                                                                <input type="text" id="libelle" asp-for="BonDeLivraison_Designation" class="form-control" required />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Date de livraison</label>
                                                            <div>
                                                                <input type="datetime-local" id="date" asp-for="BonDeLivraison_DateLivraison" class="form-control" required/>
                                                            </div>
                                                        </div>
                                                        </div>
                                                </form>
                                                <!-- form ends -->
                                                <fieldset id="fieldset" style="display:none;">
                                                    <legend>Détails des articles</legend>
                                                    <div class="row">
                                                        <div class="col-12 mt-2">
                                                            <div class="table-responsive">
                                                                <table id="tableForme" class="table mb-0">
                                                                    <thead>
                                                                        <tr><th><input type="checkbox" checked class="largerCheckbox" id="chkAll" /></th>
                                                                            <th>Designation</th>
                                                                            <th>Quantité commandée</th>
                                                                            <th>Quantité réceptionnée</th>
                                                                            <th>Quantité à réceptioner</th>
                                                                            <th>Unité de mesure </th>
                                                                            <th>PU (HT)</th>
                                                                            <th>Total (HT)</th>
                                                                            <th>Temperature °C</th>
                                                                            <th>Lot fournisseur</th>
                                                                            <th>Date de production </th>
                                                                            <th>Date limite de consommation </th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @*<div class="row">
                                                            <div class="col-12 mt-2">
                                                                <div class="table-responsive">
                                                                    <table id="tableFormePret" class="table mb-0">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Produit prêt à consommer</th>
                                                                                <th>Forme de produit</th>
                                                                                <th>Quantité à produire</th>
                                                                                <th>Quantité en stock</th>
                                                                                <th></th>
                                                                            </tr>
                                                                        </thead>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>*@
                                                </fieldset>

                                            </div>

                                            <!-- table success ends -->
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between border-top text-sm-right">
                                    <div>
                                        <button type="button" class="btn btn-success glow " style="display:none;"></button>
                                    </div><div>
                                        <button type="button" class="btn btn-success glow " style="display:none; "></button>
                                    </div><div>
                                        <button type="button" class="btn btn-success glow " style="display:none; "></button>
                                    </div><div>
                                        <button type="button" class="btn btn-success glow " id="disabled" onclick="AjoutBonCommande()">Enregistrer la réception</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Dashboard Ecommerce ends -->
        </div>
    </div>
</div>

<div class="modal  show" id="BaseModal" tabindex="-1" aria-labelledby="myModalLabel33" style="padding-right: 17px;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#c19d56">
                <h4 class="modal-title white" id="myModalLabel33"> Liste des QR codes</h4>
                <button class="close" data-toggle="modal" aria-label="Close" onclick="refresh()">
                    <i class="bx bx-x"></i>
                </button>
            </div>
            <form>
                <div class="modal-body" id="mbody">
                    <div style="display:none;" id="Basediv"> </div>
                        
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/toastr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function getBcFournisseur()
    {
        var data = { fournisseurID: parseInt($("#fournisseur option:selected").val()) };
        if ($("#fournisseur option:selected").val() != null) {
            $.ajax({
                url: '@Url.Action("getBcFournisseur", "Fournisseur")',
                type: "POST",
                cache: false,
                async: true,
                data: data,
                success: function (data) {
                    if ($("#bondecommande option").length > 1) {
                        $.each($("#bondecommande option"), function (i, item) {
                            item.remove();
                        });
                        $("#bondecommande").append("<option value='' selected disabled>Sélectionnez un bon de commande ...</option>");
                    }
                    $.each(data, function (i, item) {
                        $("#bondecommande").append($('<option>', {
                            value: item.value,
                                text: item.text
                        }));
                    });
                },
                error: function () {
                }
            });
        }
    }


 

    //delete
    function articleDelete(ctl) 
    {
        $(ctl).parents("tr").remove();
       
        /**if ($("#tableCamions tbody tr").length == 0) 
        {
            $("#prixHT").val(0);
            $("#prixTTC").val(0);
            $("#prixTVA").val(0);
        }

        change();**/
    }

 function AjoutBonCommande() {
     if (
            $("#fournisseur option:selected").val() != null && $("#fournisseur option:selected").val() != '' &&
            $("#bondecommande option:selected").val() != null && $("#bondecommande option:selected").val() != '' &&
            $("#libelle").val() != null && $("#libelle").val() != '' &&
            $("#date").val() != null && $("#date").val() != '') 
        {
            
      
        document.getElementById('disabled').disabled = true;

        var foursnisseurId = $("#fournisseur option:selected").val() ;
        var boncommande = $("#bondecommande option:selected").val() ;
        var ListArticles = new Array();
        var table = document.getElementById("tbodyCamions");
        var matiere = 0;
        var desi = "";
        var quantite = 0;
        var unite = 0;
        var prixU = 0;
        var prixtot = 0;
        var lotF ="";
        var dateProd = "";
        var dlc ="";
        var BonDeLivraison_Model = {
            BonDeLivraison_BCID: boncommande,
            BonDeLivraison_Designation : $("#libelle").val(), 
            BonDeLivraison_DateLivraison : $("#date").val() 
            //FicheTechniqueBridge_CoutDeRevient: parseFloat(sum),
            //Produit_FicheTechnique: ListMatieres,
            //Fiche_Forme: ListFormes,
            //FicheTech_ProduitBase = new Array(),
        }
        if (table != null)
        {
            for (var i = 0; i < table.rows.length; i++) 
            {
                if (table.rows[i].cells[0].getElementsByTagName('input')[0].checked) 
                
                {
                    matiere = table.rows[i].cells[14].innerHTML;
                    quantite = table.rows[i].cells[4].getElementsByTagName('input')[0].value;
                    unite = table.rows[i].cells[13].innerHTML;
                    prixU = table.rows[i].cells[6].innerHTML;
                    prixtot = table.rows[i].cells[7].innerHTML;
                    desi = table.rows[i].cells[1].innerHTML;
                    lotF = table.rows[i].cells[9].getElementsByTagName('input')[0].value;
                    dateProd = table.rows[i].cells[10].getElementsByTagName('input')[0].value;
                    dlc = table.rows[i].cells[11].getElementsByTagName('input')[0].value;
                    temp = table.rows[i].cells[8].getElementsByTagName('input')[0].value;
                 
                    var article = {
                        ArticleBL_MatiereID: "",
                        ArticleBL_UniteMesureID: "",
                        ArticleBL_Quantie: "",
                        ArticleBL_PU: "",
                        ArticleBL_PrixTotal:"",
                        ArticleBL_Designation:"",
                        ArticleBL_LotFournisseur:"",
                        ArticleBL_DateProduction:"",
                        ArticleBL_DateLimiteConso:"",
                        ArticleBL_Teemperature:""
                    }

                    article.ArticleBL_MatiereID = matiere;
                    article.ArticleBL_UniteMesureID = unite;
                    article.ArticleBL_Designation =  desi;
                    article.ArticleBL_LotFournisseur =  lotF;
                    article.ArticleBL_Quantie =  parseFloat(quantite).toFixed(2).replace(".",",");
                    article.ArticleBL_PU =  parseFloat(prixU).toFixed(2).replace(".",",");
                    article.ArticleBL_PrixTotal =  parseFloat(prixtot).toFixed(2).replace(".",",");
                    article.ArticleBL_DateProduction =  dateProd;
                    article.ArticleBL_DateLimiteConso =  dlc;
                    article.ArticleBL_Teemperature = temp;
                    ListArticles.push(article);
                }
            }
        BonDeLivraison_Model.listeArticles = ListArticles;


            var data = {
                bonDeLivraison_Model: BonDeLivraison_Model
        };
           // console.log(data);
            $.ajax({
            url: '@Url.Action("AjouterBL", "Fournisseur")',
            type: "POST",
            cache: false,
            async: true,
            data: data,
            success: function (data) {
                if (data.length > 0) {
                    //$("#loadMe").modal("hide");
                    $('#BaseModal').modal('show');
                    for (var i = 0; i < data.length; i++) {
                        $("#mbody").append(
                            "<div class='row'id='tableModal' >"+
                            "<div class='col-md-12'> <span>" + data[i].qRCodeTITLE + " </span></div>"+
                            "<div class=' col-md-12 text-sm-center'> <img src='" + data[i].qRCodeIMG + "' style='height: 155px;' /></div>"+
                            "</div>" 
                          //  "<td class='border-b dark:border-dark-5 '>" + parseFloat(data[i].qteEnStock).toFixed(3) + "</td>" +
                          //  "<td class='border-b dark:border-dark-5 '>" + data[i].uniteStock + "</td>" +
                            );
                    }
                        /* ShowNotification("Bon de livraison  ajouté avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
                        setTimeout(
                            function () {
                               window.location.href = '@Url.Action("ListeBonDeCommande", "Fournisseur")';
                            }, 2000);
                    */} else {
                        ShowNotification("Une erreur s'est produite!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
                        setTimeout(
                            function () {
                                window.location.reload();
                            }, 2000);
                    }
                },
        error: function () {
            alert("non ajoute");
        }
    });
                }
                
       }
        }
        
    var donee;
    function result() {
        var listprod = new Array();
        var obj = {
            listprods: new Array(),
            qte: 0
        };
       // document.getElementById('prodButton').disabled = false;
    //    document.getElementById('demandebutton').style.display = "none";
        if ($("#bondecommande").val() != null) {
            var data2 = {
                Id: parseInt($("#bondecommande option:selected").val())
            };
            $.ajax({
                url: '@Url.Action("GetArticlesBCforBL", "Fournisseur")',
                type: "POST",
                cache: false,
                async: true,
                data: data2,
                success: function (data) {
                    
                    //console.log(data);
                    $("#tableForme tbody").remove();
                    //$("#tableFormePret tbody").remove();
                    document.getElementById('fieldset').style.display = "block";
                    $("#tableForme").append("<tbody id='tbodyCamions'></tbody>");
                    //$("#tableFormePret").append("<tbody id='tbodyCamionsPret'></tbody>");

                    for (i = 0; i < data.length; i++)
                    {
                        var res = data[i].articleBC_Quantite - parseFloat(data[i].articleBC_QteRest);
                        $("#tbodyCamions").append("<tr>" +                            
                        "<td class='border-b dark:border-dark-5'>  <input type='checkbox' checked class='largerCheckbox tblChk chk" + i + "' name='check'/></td>" +
                            "<td class='border-b dark:border-dark-5' >" + data[i].articleBC_Designation + "</td>" +
                            "<td class='border-b dark:border-dark-5'>" + data[i].articleBC_Quantite + "</td>" +
                            "<td class='border-b dark:border-dark-5'>" + res + "</td>" +
                            "<td class='border-b dark:border-dark-5'>  <input type='text' id='qteLiv' value='" + parseFloat(data[i].articleBC_QteRest) + "'onchange='keyUp(this)'/></td>" +
                            "<td class='border-b dark:border-dark-5'>" + data[i].unite_Mesure.uniteMesure_Libelle + "</td>" +
                            "<td class='border-b dark:border-dark-5' id='pu'>" + data[i].articleBC_PU + "</td>" +
                            "<td class='border-b dark:border-dark-5' id='totLiv'>" + parseFloat(data[i].articleBC_PU) * parseFloat(data[i].articleBC_QteRest) + "</td>" +
                            "<td class='border-b dark:border-dark-5' id='temp'>  <input type='text'/></td>" +
                            "<td class='border-b dark:border-dark-5' id='lot'>  <input type='text'/></td>" +
                            "<td class='border-b dark:border-dark-5' id='dateProd'>  <input type='date'/></td>" +
                            "<td class='border-b dark:border-dark-5' id='dlc'>  <input type='date'/></td>" +
                            "<td class='border-b dark:border-dark-5'style='display:none;'>" + data[i].articleBC_ID + "</td>" +
                            "<td class='border-b dark:border-dark-5'style='display:none;'>" + data[i].articleBC_UniteMesure + "</td>" +
                            "<td class='border-b dark:border-dark-5'style='display:none;'>" + data[i].articleBC_MatiereID + "</td>" +

                            "</tr>");

                    }
                   
                    obj.listprods = listprod;
                },
                error: function () {
                }
            });
        }
        return obj;
    }


    function SousP() {
        donee = result();
    } 
    function refresh() 
    {
        ShowNotification("Bon de livraison  ajouté avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
        setTimeout(
            function () {
        window.location.reload();
            }, 2000);

    }
    function keyUp(ctl){

        var qteLiv = parseFloat($(ctl).closest("tr").find("#qteLiv").val());
        var pu = parseFloat($(ctl).closest("tr").find("td:eq(4)").text());

        console.log(qteLiv * pu);
        $(ctl).closest("tr").find("td:eq(5)").text(parseFloat(qteLiv * pu).toFixed(2));
       // $(ctl).parents("tr");
       
       
    }
    $('#tableForme').on('change', '.tblChk', function() {
        if ($('.tblChk:checked').length == $('.tblChk').length) {
            $('#chkAll').prop('checked', true);
        } else {
            $('#chkAll').prop('checked', false);
        }
    });
    $("#chkAll").change(function () {
        if ($(this).prop('checked')) {
          $('.tblChk').not(this).prop('checked', true);
        } else {
          $('.tblChk').not(this).prop('checked', false);
        }
      });
    const now = new Date();
    now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
    document.getElementById('date').value = now.toISOString().slice(0, 16);
</script>