@{
    ViewData["Title"] = "Fiches Technique  ";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@model Domain.Models.FicheTechniqueBridgeModel

@{
    ViewData["Title"] = "Ajouter une Fiche";
}

<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:history.go(-1)"><i class="bx bxs-left-arrow-circle"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a asp-action="ListeFichesTechniques">Liste des fiches techniques</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">
                <div class="row">
                    <!-- Greetings Content Starts -->
                    <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Ajouter une fiche technique</h4>
                                <a class="heading-elements-toggle"> <i class="bx bx-dots-vertical font-medium-3"></i> </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li> <a data-action="collapse"> <i class="bx bx-chevron-down"></i> </a> </li>
                                        <li> <a data-action="expand"> <i class="bx bx-fullscreen"></i> </a> </li>
                                        <li> <a data-action="reload"> <i class="bx bx-revision"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- table success start -->

                                            <div class="card mb-1">
                                                <!-- form start -->
                                                <form class="needs-validation" novalidate>
                                                    <div class="form-row">
                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Libellé</label>
                                                            <div>
                                                                <input type="text" id="libelle" asp-for="FicheTechniqueBridge_Libelle" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mb-2">
                                                            <label for="validationTooltip01">Produit maison</label>
                                                            <div>
                                                                <select class="custom-select" id="produit" data-search="true" asp-for="FicheTechniqueBridge_ProduitVendableID" asp-items="@ViewBag.FicheTechnique_ProduitVendableId" onchange="familleList()" required>
                                                                    <option value="" selected disabled>Sélectionnez un produit ...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                         <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Coût d'emballage</label>
                                                            <div>
                                                                <input type="text" id="embalage" asp-for="FicheTechniqueBridge_CoutEmbalage" class="form-control" />
                                                            </div>
                                                        </div> 
                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Coût de la main d'oeuvre </label>
                                                            <div>
                                                                <input type="text" id="main" asp-for="FicheTechniqueBridge_CoutMainOeuvre" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <!-- form ends -->

                                                <fieldset>
                                                    <legend>Détails de la fiche technique</legend>
                                                    <div class="form-row">
                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Matière première</label>
                                                            <select class="custom-select" id="matiere" data-search="true" asp-for="@Model.Produit_FicheTechnique[0].FicheTechnique_MatierePremiereId" asp-items="@ViewBag.FicheTechnique_MatierePremiereId" onchange="UniteList()">
                                                                <option value="" selected disabled>Choisir une matière première ...</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3 mb-1">
                                                            <label for="QuantiteMatiere">Quantité</label>
                                                            <input id="quantite" type="number" min="0" step=".01" asp-for="@Model.Produit_FicheTechnique[0].FicheTechnique_QuantiteMatiere" class="form-control" />

                                                        </div>
                                                        <div class="col-md-3 mb-1">
                                                            <label for="UniteMesure"> Unité de mesure</label>
                                                            <div>
                                                                <select class="custom-select" id="unite" data-search="true" asp-for="@Model.Produit_FicheTechnique[0].FicheTechnique_UniteMesureId">
                                                                    <option value="" selected disabled>Choisir une unité de mesure ...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class=" text-md-right">
                                                            <button class="btn btn-sm btn-success glow mt-md-2 mb-1" onclick="camionAdd()">Ajouter à la liste</button>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12 mt-2">
                                                            <div class="table-responsive">
                                                                <table id="tableCamions" class="table mb-0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Matière première</th>
                                                                            <th>Quantité</th>
                                                                            <th>Unité</th>
                                                                            <th>Prix</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   

                                                    
                                                </fieldset>
                                                <fieldset>
                                                    <legend>Produits de base</legend>
                                                    <div class="form-row">
                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip02">Produit de base</label>
                                                            <select class="custom-select" id="prodbase" data-search="true" asp-for="@Model.FicheTech_ProduitBase[0].ProduitBase_ID" asp-items="@ViewBag.produitBase" >
                                                                <option value="" selected disabled>Choisissez un produit de base...</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3 mb-1">
                                                            <label for="QuantiteBase">Quantité</label>
                                                            <input id="quantitebase" type="number" min="0" step=".01" asp-for="@Model.FicheTech_ProduitBase[0].ProduitQte" class="form-control" />

                                                        </div>
                                                        <div class="col-md-3 mb-1">
                                                            <label for="UniteMesureBase"> Unité de mesure</label>
                                                            <div>
                                                                <select class="custom-select" id="unitebase" data-search="true" asp-for="@Model.FicheTech_ProduitBase[0].UniteMesure_ID" asp-items="@ViewBag.FicheTechnique_UniteMesureId">
                                                                    <option value="" selected disabled>Choisissez une unité de mesure ...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class=" text-md-right">
                                                            <button class="btn btn-sm btn-success glow mt-md-2 mb-1" onclick="camionAdd2()">Ajouter à la liste</button>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12 mt-2">
                                                            <div class="table-responsive">
                                                                <table id="tablebase" class="table mb-0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Produit de base</th>
                                                                            <th>Quantité</th>
                                                                            <th>Unité</th>
                                                                            <th>Prix</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset>
                                                    <legend>Formes de produit</legend>
                                                    <div class="form-row">
                                                        <div class="col-md-3 mb-1">
                                                            <label for="validationTooltip01">Forme de Produit</label>
                                                            <div>
                                                                <select class="custom-select" id="forme" data-search="true" asp-for="@Model.Fiche_Forme[0].Forme_Produit" required>
                                                                    <option value="" selected disabled>Sélectionnez une forme de produit ...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 mb-1">
                                                            <label for="QuantiteMatiere">Quantité</label>
                                                            <input id="qteforme" type="number" min="0" step=".01" class="form-control" asp-for="@Model.Fiche_Forme[0].FicheForme_Quantite" />

                                                        </div>
                                                        <div class="col-md-3 mb-1">
                                                            <label for="UniteMesure"> Unité de mesure</label>
                                                            <div>
                                                                <select class="custom-select" id="uniteforme" data-search="true" asp-for="@Model.Fiche_Forme[0].FicheForme_uniteMesure">
                                                                    <option value="" selected disabled>Choisir une unité de mesure ...</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class=" text-md-right">
                                                            <button class="btn btn-sm btn-success glow mt-md-2 mb-1" onclick="formeadd()">Ajouter à la liste</button>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-12 mt-2">
                                                            <div class="table-responsive">
                                                                <table id="tableForme" class="table mb-0">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Produit</th>
                                                                            <th>Forme de produit</th>
                                                                            <th>Quantité à produire</th>
                                                                            <th>Unité </th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>

                                            <!-- table success ends -->
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between border-top text-sm-right">
                                    <div>
                                        <button type="button" class="btn btn-success glow " style="display:none;"></button>
                                    </div><div>
                                        <button type="button" class="btn btn-success glow " style="display:none; "></button>
                                    </div><div>
                                        <button type="button" class="btn btn-success glow " style="display:none; "></button>
                                    </div><div>
                                        <button type="button" class="btn btn-success glow " id="disabled" onclick="AjoutTrpMoral()">Enregistrer la fiche technique</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Dashboard Ecommerce ends -->
        </div>
    </div>
</div>


<script src="~/js/toastr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    function camionAdd() {

        if ($("#matiere").val() != null && $("#matiere").val() != '' &&
            $("#quantite").val() != null && $("#quantite").val() != '' &&
            $("#produit").val() != null && $("#produit").val() != '' &&
            $("#unite").val() != null && $("#unite").val() != ''

        ) {
            camionAjout();
            formCamionClear();
        }
    }
    function camionAdd2() {

        if ($("#prodbase").val() != null && $("#prodbase").val() != '' &&
            $("#quantitebase").val() != null && $("#quantitebase").val() != '' &&
            $("#produit").val() != null && $("#produit").val() != '' &&
            $("#unitebase").val() != null && $("#unitebaseunite").val() != ''

        ) {
            camionAjout1();
            formCamionClear1();
        }
    }

    function formeadd() {

        if ($("#forme").val() != null && $("#forme").val() != '' &&
            $("#qteforme").val() != null && $("#qteforme").val() != '' &&
            $("#uniteforme").val() != null && $("#uniteforme").val() != ''

        ) {
            formeAjout();
            formClear();
        }
    }




    function camionAjout()
    {
        var matieretxt = $("#matiere option:selected").text();
        var matiereval = $("#matiere option:selected").val();

        var quantitetxt = $("#quantite").text();
        var quantiteval = $("#quantite").val();

        var unitetxt = $("#unite option:selected").text();
        var uniteval = $("#unite option:selected").val();
        var table = document.getElementById("tbodyCamions");

        if ($("#tableCamions tbody").length == 0) {
            $("#tableCamions").append("<tbody id='tbodyCamions'></tbody>");
            //document.getElementById('divTable').style.display = "block";
        }

        @*else {
            for (var i = 0; i < table.rows.length; i++) {
                matiere = table.rows[i].cells[6].innerHTML;
                quantite = table.rows[i].cells[7].innerHTML;
                unite = table.rows[i].cells[8].innerHTML;
                if (matiere == matiereval && unite == uniteval) {
                    table.rows[i].cells[7].innerHTML = parseFloat(table.rows[i].cells[7].innerHTML) + parseFloat(quantiteval);
                    table.rows[i].cells[2].innerHTML = table.rows[i].cells[7].innerHTML ;

                }
            }
        }*@
        var calPrix =
        {
            matiere : $("#matiere option:selected").val(),
            unite : $("#unite option:selected").val(),
            quantite: parseFloat($("#quantite").val()).toFixed(3).replace(".", ","),
        };
        $.ajax({
        url: '@Url.Action("CalculerPrix", "MatierePremiere")',
        type: "POST",
        cache: false,
        data: calPrix,
            success: function (data) {
                if (data != null) {
                    var table = document.getElementById("tbodyCamions");
                    var matiere = 0;
                    var quantite = 0;
                    var unite = 0;
                    var cdr = 0;
                    var unitetext = "";
                    var val = 0;
                    if ($("#tableCamions tbody").length == 0) {
                        $("#tableCamions").append("<tbody id='tbodyCamions'></tbody>");
                        //document.getElementById('divTable').style.display = "block";
                    }
                    else
                    {
                        for (var i = 0; i < table.rows.length; i++) {
                            if (table.rows[i].cells[6].innerHTML == matiereval) {
                                if ((uniteval == 1 && table.rows[i].cells[8].innerHTML == 2) || (uniteval == 4 && table.rows[i].cells[8].innerHTML == 3) )
                                { quantiteval = parseFloat(quantiteval) / 1000; }
                                else if ((uniteval == 2 && table.rows[i].cells[8].innerHTML == 1) || (uniteval == 3 && table.rows[i].cells[8].innerHTML == 4))
                                { quantiteval = parseFloat(quantiteval) * 1000; }
                                else
                                { quantiteval = parseFloat(quantiteval);}
                                cdr = table.rows[i].cells[4].innerHTML;
                                matiere = table.rows[i].cells[6].innerHTML;
                                quantite = table.rows[i].cells[2].innerHTML;
                                uniteval = table.rows[i].cells[8].innerHTML;
                                unitetxt = table.rows[i].cells[3].innerHTML;
                                table.rows[i].remove();
                               // table.rows[i].cells[7].innerHTML = parseFloat(table.rows[i].cells[7].innerHTML) + parseFloat(quantiteval);
                               // table.rows[i].cells[2].innerHTML = table.rows[i].cells[7].innerHTML;
                                 
                            }
                        }
                    }
                    val = parseFloat(data) + parseFloat(cdr);
                    console.log(val, data, parseFloat(cdr) );
                    quantiteval = parseFloat(quantiteval) + parseFloat(quantite);
                  
                $("#tbodyCamions").append("<tr>" +
                    "<td class='border-b dark:border-dark-5' style='display:none;'>" + $("#produit option:selected").text() + "</td>" +
                    "<td class='border-b dark:border-dark-5 text-sm-left'>" + matieretxt + "</td>" +
                    "<td class='border-b dark:border-dark-5'>" + parseFloat(quantiteval).toFixed(3) + "</td>" +
                    "<td class='border-b dark:border-dark-5'>" + unitetxt + "</td>" +
                    "<td class='border-b dark:border-dark-5'>" + parseFloat(val).toFixed(3) + "</td>" +
                    "<td style='display:none;'>" + $("#produit option:selected").val() + "</td>" +
                    "<td style='display:none;'>" + matiereval + "</td>" +
                    "<td style='display:none;'>" + parseFloat(quantiteval).toFixed(3).replace(".", ",") + "</td>" +
                    "<td style='display:none;'>" + uniteval + "</td>" +
                    "<td class='count' style='display:none;'>" + parseFloat(val).toFixed(3).replace(".", ",") + "</td>" +
                    "<td class='text-right'>" +
                    '<button class="btn btn-outline-secondary btn-table round" onclick="CamionDelete(this)"><i class="bx bx-trash-alt"></i>Supprimer</button>' +
                    "</tr>");



            } else {
                ShowNotification("Une erreur est produite!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
                    }
                },
        error: function () {
            alert("non ajoute");
        }
    });

    }
    function camionAjout1()
    {
        var matieretxt = $("#prodbase option:selected").text();
        var matiereval = $("#prodbase option:selected").val();

        var quantitetxt = $("#quantitebase").text();
        var quantiteval = $("#quantitebase").val();

        var unitetxt = $("#unitebase option:selected").text();
        var uniteval = $("#unitebase option:selected").val();

        if ($("#tablebase tbody").length == 0) {
            $("#tablebase").append("<tbody id='tbodybase'></tbody>");
            //document.getElementById('divTable').style.display = "block";
        }

        var calPrix =
        {
            matiere: $("#prodbase option:selected").val(),
            unite: $("#unitebase option:selected").val(),
            quantite: parseFloat($("#quantitebase").val()).toFixed(3).replace(".", ","),
        };
        $.ajax({
        url: '@Url.Action("CalculerPrix", "FicheTechnique")',
        type: "POST",
        cache: false,
        data: calPrix,
            success: function (data) {


                if (data != null) {
                    var table = document.getElementById("tbodybase");
                    var matiere = 0;
                    var quantite = 0;
                    var unite = 0;
                    var cdr = 0;
                    var unitetext = "";
                    var val = 0;
                    if ($("#tablebase tbody").length == 0) {
                        $("#tablebase").append("<tbody id='tbodybase'></tbody>");
                        //document.getElementById('divTable').style.display = "block";
                    }
                    else {
                        for (var i = 0; i < table.rows.length; i++) {
                            if (table.rows[i].cells[6].innerHTML == matiereval) {
                                if ((uniteval == 1 && table.rows[i].cells[8].innerHTML == 2) || (uniteval == 4 && table.rows[i].cells[8].innerHTML == 3)) { quantiteval = parseFloat(quantiteval) / 1000; }
                                else if ((uniteval == 2 && table.rows[i].cells[8].innerHTML == 1) || (uniteval == 3 && table.rows[i].cells[8].innerHTML == 4)) { quantiteval = parseFloat(quantiteval) * 1000; }
                                else { quantiteval = parseFloat(quantiteval); }
                                cdr = table.rows[i].cells[4].innerHTML;
                                matiere = table.rows[i].cells[6].innerHTML;
                                quantite = table.rows[i].cells[2].innerHTML;
                                uniteval = table.rows[i].cells[8].innerHTML;
                                unitetxt = table.rows[i].cells[3].innerHTML;
                                table.rows[i].remove();
                                // table.rows[i].cells[7].innerHTML = parseFloat(table.rows[i].cells[7].innerHTML) + parseFloat(quantiteval);
                                // table.rows[i].cells[2].innerHTML = table.rows[i].cells[7].innerHTML;

                            }
                        }
                    }
                    val = parseFloat(data) + parseFloat(cdr);
                    console.log(val, data, parseFloat(cdr));
                    quantiteval = parseFloat(quantiteval) + parseFloat(quantite);

                $("#tbodybase").append("<tr>" +
                    "<td class='border-b dark:border-dark-5' style='display:none;'>" + $("#produit option:selected").text() + "</td>" +
                    "<td class='border-b dark:border-dark-5 text-sm-left'>" + matieretxt + "</td>" +
                    "<td class='border-b dark:border-dark-5'>" + parseFloat(quantiteval)+ "</td>" +
                    "<td class='border-b dark:border-dark-5'>" + unitetxt + "</td>" +
                    "<td class='border-b dark:border-dark-5'>" + parseFloat(val).toFixed(3)+ "</td>" +
                    "<td style='display:none;'>" + $("#produit option:selected").val() + "</td>" +
                    "<td style='display:none;'>" + matiereval + "</td>" +
                    "<td style='display:none;'>" + parseFloat(quantiteval).toFixed(3).replace(".", ",") + "</td>" +
                    "<td style='display:none;'>" + uniteval + "</td>" +
                    "<td class='count' style='display:none;'>" + parseFloat(val).toFixed(3).replace(".", ",") + "</td>" +
                    "<td class='text-right'>" +
                    '<button class="btn btn-outline-secondary btn-table round" onclick="CamionDelete(this)"><i class="bx bx-trash-alt"></i>Supprimer</button>' +
                    "</tr>");



            } else {
                ShowNotification("Une erreur est produite!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
                    }
                },
        error: function () {
            alert("non ajoute");
        }
    });

    }
    function formeAjout()
    {
        var produittxt = $("#produit option:selected").text();
        var produitval = $("#produit option:selected").val();

        var formeproduittxt = $("#forme option:selected").text();
        var formeproduitval = $("#forme option:selected").val();

        var qteformeval = $("#qteforme").val();

        var uniteformetxt = $("#uniteforme option:selected").text();
        var uniteformeval = $("#uniteforme option:selected").val();

        var table = document.getElementById("tbodyForme");
        var matiere = 0;
        var quantite = 0;
        var unite = 0;
        var cdr = 0;
        var unitetext = "";
        var val = 0;
        if ($("#tableForme tbody").length == 0) {
            $("#tableForme").append("<tbody id='tbodyForme'></tbody>");
            //document.getElementById('divTable').style.display = "block";
        }
        else {
            for (var i = 0; i < table.rows.length; i++) {
                if (table.rows[i].cells[2].innerHTML == formeproduitval) {
                    if ((uniteformeval == 1 && table.rows[i].cells[8].innerHTML == 2) || (uniteformeval == 4 && table.rows[i].cells[8].innerHTML == 3))
                    { qteformeval = parseFloat(qteformeval) / 1000; }
                    else if ((uniteformeval == 2 && table.rows[i].cells[8].innerHTML == 1) || (uniteformeval == 3 && table.rows[i].cells[8].innerHTML == 4))
                    { qteformeval = parseFloat(qteformeval) * 1000; }
                    else { qteformeval = parseFloat(qteformeval); }
                    matiere = table.rows[i].cells[2].innerHTML;
                    quantite = table.rows[i].cells[4].innerHTML;
                    uniteval = table.rows[i].cells[5].innerHTML;
                    unitetxt = table.rows[i].cells[6].innerHTML;
                    table.rows[i].remove();
                    // table.rows[i].cells[7].innerHTML = parseFloat(table.rows[i].cells[7].innerHTML) + parseFloat(quantiteval);
                    // table.rows[i].cells[2].innerHTML = table.rows[i].cells[7].innerHTML;

                }
            }
        }
        qteformeval = parseFloat(qteformeval) + parseFloat(quantite);
        $("#tbodyForme").append("<tr>" +
            "<td class='border-b dark:border-dark-5' style='display:none;'>" + produitval + "</td>" +
            "<td class='border-b dark:border-dark-5 text-sm-left'>" + produittxt + "</td>" +
            "<td class='border-b dark:border-dark-5' style='display:none;'>" + formeproduitval + "</td>" +
            "<td class='border-b dark:border-dark-5'>" + formeproduittxt + "</td>" +
            "<td class='border-b dark:border-dark-5'>" + parseFloat(qteformeval).toFixed(3) + "</td>" +
            "<td class='border-b dark:border-dark-5' style='display:none;'>" + uniteformeval + "</td>" +
            "<td class='border-b dark:border-dark-5'>" + uniteformetxt + "</td>" +
            "<td class='text-right'>" +
            '<button class="btn btn-outline-secondary btn-table round" onclick="CamionDelete(this)"><i class="bx bx-trash-alt"></i>Supprimer</button>' +
            "</tr>");



    }
    function formCamionClear() {
        $("#matiere").val("");
        $("#quantite").val("");
        $("#unite").val("");
    }
    function formCamionClear1() {
        $("#prodbase").val("");
        $("#quantitebase").val("");
        $("#unitebase").val("");
    }
    function formClear() {
        $("#forme").val("");
        $("#qteforme").val("");
        $("#uniteforme").val("");
    }

    //delete
    function CamionDelete(ctl) {
        $(ctl).parents("tr").remove();
        if ($("#tableCamions tbody tr").length == 0) {
            document.getElementById('divTable').style.display = "none";
        }
    }
    function TableCumule(ctl) {
        $(ctl).parents("tr").remove();
        $("#tbodyForme").append("<tr>" +
            "<td class='border-b dark:border-dark-5' style='display:none;'>" + produitval + "</td>" +
            "<td class='border-b dark:border-dark-5 text-sm-left'>" + produittxt + "</td>" +
            "<td class='border-b dark:border-dark-5' style='display:none;'>" + formeproduitval + "</td>" +
            "<td class='border-b dark:border-dark-5'>" + formeproduittxt + "</td>" +
            "<td class='border-b dark:border-dark-5'>" + parseFloat(qteformeval).toFixed(3).replace(".", ",") + "</td>" +
            "<td class='border-b dark:border-dark-5' style='display:none;'>" + uniteformeval + "</td>" +
            "<td class='border-b dark:border-dark-5'>" + uniteformetxt + "</td>" +
            "<td class='text-right'>" +
            '<button class="btn btn-outline-secondary btn-table round" onclick="CamionDelete(this)"><i class="bx bx-trash-alt"></i>Supprimer</button>' +
            "</tr>");
    }

    function AjoutTrpMoral() {
        document.getElementById('disabled').disabled = true;
        var ProduitId = $("#produit option:selected").val() ;
        var Libelle = $("#libelle").val() ;
        var embalage = $("#embalage").val() ;
        var main = $("#main").val();
        var ListMatieres = new Array();
        var ListFormes = new Array();
        var ListProds = new Array();
        var prixT =parseFloat(0);
        var table = document.getElementById("tbodyCamions");
        var tableForme = document.getElementById("tbodyForme");
        var tablebase = document.getElementById("tbodybase");
        var formeproduit = 0;
        var prodBase = 0;
        var unitebase = 0;
        var qtebase = 0;
        var qteforme = 0;
        var uniteforme = 0;
        var matiere = 0;
        var quantite = 0;
        var unite = 0;
        var prix = 0;
        var fichebridge = {
            FicheTechniqueBridge_ProduitVendableID: ProduitId,
            FicheTechniqueBridge_Libelle: Libelle,
            FicheTechniqueBridge_CoutEmbalage: embalage,
            FicheTechniqueBridge_CoutMainOeuvre: main
            //FicheTechniqueBridge_CoutDeRevient: parseFloat(sum),
            //Produit_FicheTechnique: ListMatieres,
            //Fiche_Forme: ListFormes,
            //FicheTech_ProduitBase = new Array(),
        }
        if (table != null)
        {
            for (var i = 0; i < table.rows.length; i++) {
                produit = table.rows[i].cells[5].innerHTML;
                matiere = table.rows[i].cells[6].innerHTML;
                quantite = table.rows[i].cells[7].innerHTML;
                unite = table.rows[i].cells[8].innerHTML;
                prix = table.rows[i].cells[9].innerHTML;

                var fiche = {
                    FicheTechnique_ProduitVendableId: "",
                    FicheTechnique_MatierePremiereId: "",
                    FicheTechnique_UniteMesureId: "",
                    FicheTechnique_QuantiteMatiere: "",
                    FicheTechnique_Prix: "",
                }

                fiche.FicheTechnique_ProduitVendableId = produit;
                fiche.FicheTechnique_MatierePremiereId = matiere;
                fiche.FicheTechnique_UniteMesureId = unite;
                fiche.FicheTechnique_QuantiteMatiere = quantite;
                fiche.FicheTechnique_Prix = prix;
                ListMatieres.push(fiche);

            }
        }
        fichebridge.Produit_FicheTechnique = ListMatieres;

            for (var i = 0; i < tableForme.rows.length; i++) {
                formeproduit = tableForme.rows[i].cells[2].innerHTML;
                qteforme = tableForme.rows[i].cells[4].innerHTML;
                uniteforme = tableForme.rows[i].cells[5].innerHTML;

                var forme = {
                    FicheForme_FormeProduit: "",
                    FicheForme_uniteMesure: "",
                    FicheForme_Quantite: "",
                }

                forme.FicheForme_FormeProduit = formeproduit;
                forme.FicheForme_uniteMesure = uniteforme;
                forme.FicheForme_Quantite = parseFloat(qteforme).toFixed(3).replace(".", ",");
                ListFormes.push(forme);

        }
        fichebridge.Fiche_Forme = ListFormes;
        if (tablebase != null) {
            for (var i = 0; i < tablebase.rows.length; i++) {
                prodBase = tablebase.rows[i].cells[6].innerHTML;
                qtebase = tablebase.rows[i].cells[2].innerHTML;
                unitebase = tablebase.rows[i].cells[8].innerHTML;
                var ProduitBase = {
                    ProduitBase_ID: "",
                    UniteMesure_ID: "",
                    ProduitQte: "",
                }
                ProduitBase.ProduitBase_ID = prodBase;
                ProduitBase.UniteMesure_ID = unitebase;
                ProduitBase.ProduitQte = parseFloat(qtebase).toFixed(3).replace(".", ",");
                ListProds.push(ProduitBase);

            }

        }
        fichebridge.FicheTech_ProduitBase = ListProds;

            var data = {
                fiche: fichebridge
        };
            console.log(data);
        $.ajax({
            url: '@Url.Action("AjouterFiche", "FicheTechnique")',
            type: "POST",
            cache: false,
            async: true,
            data: data,
            success: function (data) {
             if (data == true) {
                        ShowNotification("Fiche Technique ajoutée avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
                        //ShowNotification("Cout de Revient du produit est modifié avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
                        setTimeout(
                            function () {
                               window.location.href = '@Url.Action("ListeFichesTechniques", "FicheTechnique")';
                            }, 2000);
                    } else {
                        ShowNotification("Une erreur s'est produite!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
                        setTimeout(
                            function () {
                                window.location.reload();
                            }, 2000);
                    }
                },
        error: function () {
            alert("non ajoute");
        }
    });
        }

      function familleList()
    {
          var data = { Id: parseInt($("#produit").val()) };
          if ($("#produit").val() != null) {
            $.ajax({
                url: '@Url.Action("formeProduit", "FicheTechnique")',
                type: "POST",
                cache: false,
                async: false,
                data: data,
                success: function (data) {
                    if ($("#forme option").length > 1) {
                        $.each($("#forme option"), function (i, item) {
                            item.remove();
                        });
                        $("#forme").append("<option value='' selected disabled>Sélectionnez une forme de produit</option>");
                    }
                    $.each(data, function (i, item) {
                        $("#forme").append($('<option>', {
                            value: item.value,
                                text: item.text
                        }));
                    });
                },
                error: function () {
                }
            });
              $.ajax({
                url: '@Url.Action("GetProduit", "ProduitVendable")',
                type: "POST",
                cache: false,
                async: false,
                data: data,
                  success: function (data) {
                      console.log(data);
                      if ($("#uniteforme option").length > 1) {
                          $.each($("#uniteforme option"), function (i, item) {
                              item.remove();
                          });
                          $("#uniteforme").append("<option value='' selected disabled>Sélectionnez une unite</option>");
                      }
                      $("#uniteforme").append($('<option>', {
                          value: data.unite_Mesure.uniteMesure_Id,
                          text: data.unite_Mesure.uniteMesure_Libelle
                      }));

                      //console.log(data);
                      //$("#uniteforme").val(data.produitVendable_UniteMesureId);
                },
                error: function () {
                }
            });
        }
    }
    function UniteList()
    {
          var data = { Id: parseInt($("#matiere").val()) };
        if ($("#matiere").val() != null)
        {
            $.ajax({
                url: '@Url.Action("getListUniteMesure", "MatierePremiere")',
                type: "POST",
                cache: false,
                async: false,
                data: data,
                success: function (data) {
                    if ($("#unite option").length > 1) {
                        $.each($("#unite option"), function (i, item) {
                            item.remove();
                        });
                        $("#unite").append("<option value='' selected disabled>Sélectionnez une unite de mesure </option>");
                    }
                    $.each(data, function (i, item) {
                        $("#unite").append($('<option>', {
                            value: item.value,
                                text: item.text
                        }));
                    });
                },
                error: function () {
                }
            });
             
        }
    }
</script>
