@model IEnumerable<Domain.Models.PlanificationJourneeModel>
@{ Layout = "~/Views/Shared/_Layout1.cshtml"; }
@using Web.Helpers;
@{
    ViewData["Title"] = "Liste des planifications";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:history.go(-1)"><i class="bx bxs-left-arrow-circle"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="#">Liste des planifications de production </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">
                <div class="form-row">
                    <div class="col-md-3 offset-1 mb-1">
                        <label for="etat">Etat</label>
                        <div>
                            <div>
                                <select class="custom-select" data-search="true" id="etat">
                                    <option value="" selected disabled>Sélectionnez un état de production...</option>
                                    <option value="En traitement">Matière première commandée</option>
                                    <option value="livré">Matière première en cours de livraison</option>
                                    <option value="Recue">Matière première reçue</option>
                                    <option value="Annulée">Planification annulée</option>
@*                                    <option value="Matières retournées">Matière première retournée</option>
*@                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mb-1">
                        <div class="form-group">
                            <label for="atelier">Point de production</label>
                            <div>
                                <select class="custom-select" id="point" data-search="true" asp-items="@ViewBag.production">
                                    <option value="" selected disabled>Sélectionnez un point de production...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 mb-1">
                        <div class="form-group">
                            <label for="lieu">Point de stockage</label>
                            <div>
                                <select class="custom-select" id="point2" data-search="true" asp-items="@ViewBag.ZoneStockage_LieuStockageId">
                                    <option value="" selected disabled>Sélectionnez un point de stockage...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-1">
                        <div class="form-group">
                            <label for="Date">Date de planification</label>
                            <div>
                                <input type="date" id="date" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class=" text-md-right">
                        <button class="btn btn-sm btn-success glow mt-md-2 mb-1" onclick="displayDashboard()">Filtrer</button>
                    </div>
                </div>
                <div class="row">
                    <!-- Greetings Content Starts -->
                    <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                        <div class="card">
                            <div class="card-header">
                                @if (Model.Count() > 0)
                                {
                                    <h4 class="card-title">Liste des planifications de production des produits maison</h4>
                                }
                                else
                                { <h4 class="card-title">Veuillez selectionner un filtre.</h4>
                                }
                                <a class="heading-elements-toggle">
                                    <i class="bx bx-dots-vertical font-medium-3"></i>
                                </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <a data-action="collapse">
                                                <i class="bx bx-chevron-down"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="expand">
                                                <i class="bx bx-fullscreen"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="reload">
                                                <i class="bx bx-revision"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- table success start -->
                                            <section id="table-success">
                                                <div class="card">
                                                    <!-- datatable start -->
                                                    <div class="table  ">
                                                        <table id="table-Cartographie-Deposees" class="table mb-0">
                                                            <thead>
                                                                <tr>

                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Date de Production</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap text-sm-left">Point de stockage  </th>
                                                                    @*
                                                                        <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Coût De Revient</th>
                                                                    *@
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Statut</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Validé Par</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="usertbody">
                                                                @foreach (var item in Model)
                                                                {

                                                                    <tr>

                                                                        <td class="text-bold-600 pr-0 ">@item.PlanificationJournee_Date.ToString("dd/MM/yyyy hh:mm:ss")</td>
                                                                        <td class="text-bold-600 pr-0 text-sm-left">@Html.DisplayFor(modelItem => item.Lieu_Stockage.LieuStockag_Nom)</td>
                                                                        @*
                                                                            <td class="text-bold-600 pr-0">@Html.DisplayFor(modelItem => item.PlanificationJournee_CoutDeRevient)</td>
                                                                        *@
                                                                        @if (item.PlanificationJournee_Etat == "En traitement")
                                                                        {

                                                                            <td class="text-bold-600 pr-0"><a class="btn btn-outline-warning btn-table round" href="#0"><i class="bx bx-check"></i>MP Commandée</a></td>
                                                                            <td class="text-bold-600 pr-0">@item.PlanificationJournee_ValidePar</td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <span class="bx bx-dots-horizontal-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">
                                                                                    </span>
                                                                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 19px, 0px);" x-out-of-boundaries="">
                                                                                        <a class="dropdown-item  btn-outline-secondary" asp-action="DetailsPlan" asp-route-id="@item.PlanificationJournee_ID"><i class="bx bx-info-square"></i>Afficher les détails de planification  </a>
                                                                                        <a class="dropdown-item btn-outline-primary" asp-action="BonDeSortie" asp-route-id="@item.PlanificationJournee_BonDeSortieID"><i class="bx bx-detail"></i>Afficher le bon de sortie </a>
                                                                                        <a class="dropdown-item btn-outline-primary" asp-action="ConsulterProdBase" asp-route-id="@item.PlanificationJournee_ID"><i class="bx bx-list-ol"></i>Liste des produits de base demandés </a>
                                                                                    </div>
                                                                                </div>

                                                                            </td>
                                                                        }
                                                                        else if (item.PlanificationJournee_Etat == "Livré")
                                                                        {
                                                                            <td class="text-bold-600 pr-0"><a class="btn btn-outline-info btn-table round" href="#0"><i class="bx bx-check"></i>En cours de Livraison </a></td>
                                                                            <td class="text-bold-600 pr-0">@item.PlanificationJournee_ValidePar</td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <span class="bx bx-dots-horizontal-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">
                                                                                    </span>
                                                                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 19px, 0px);" x-out-of-boundaries="">
                                                                                        <a class="dropdown-item  btn-outline-secondary" asp-action="DetailsPlan" asp-route-id="@item.PlanificationJournee_ID"><i class="bx bx-info-square"></i>Afficher les détails de planification  </a>
                                                                                        <a class="dropdown-item  btn-outline-primary" asp-action="BonDeSortie" asp-route-id="@item.PlanificationJournee_BonDeSortieID"><i class="bx bx-detail"></i>Afficher le bon de sortie </a>
                                                                                        <a class="dropdown-item btn-outline-primary" asp-action="ConsulterProdBase" asp-route-id="@item.PlanificationJournee_ID"><i class="bx bx-list-ol"></i>Liste des produits de base demandés </a>

                                                                                    </div>
                                                                                </div>

                                                                            </td>
                                                                        }
                                                                        else if (item.PlanificationJournee_Etat == "Recue")
                                                                        {
                                                                            <td class="text-bold-600 pr-0"><a class="btn btn-outline-success btn-table round" href="#0"><i class="bx bx-check"></i>MP Reçue</a></td>
                                                                            <td class="text-bold-600 pr-0">@item.PlanificationJournee_ValidePar</td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <span class="bx bx-dots-horizontal-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">
                                                                                    </span>
                                                                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 19px, 0px);" x-out-of-boundaries="">
                                                                                        <a class="dropdown-item  btn-outline-secondary" asp-action="DetailsPlan" asp-route-id="@item.PlanificationJournee_ID"><i class="bx bx-info-square"></i>Afficher les détails de planification  </a>
                                                                                        <a class="dropdown-item btn-outline-primary" asp-action="BonDeSortie" asp-route-id="@item.PlanificationJournee_BonDeSortieID"><i class="bx bx-detail"></i>Afficher le bon de sortie </a>
                                                                                        <a class="dropdown-item btn-outline-primary" asp-action="ConsulterProdBase" asp-route-id="@item.PlanificationJournee_ID"><i class="bx bx-list-ol"></i>Liste des produits de base demandés </a>
                                                                                    </div>
                                                                                </div>

                                                                            </td>
                                                                        }
                                                                        else if (item.PlanificationJournee_Etat == "Matière première disponible")
                                                                        {
                                                                            <td class="text-bold-600 pr-0"><a class="btn btn-outline-primary btn-table round" href="#0"><i class="bx bx-check"></i>MP disponible</a></td>
                                                                            <td class="text-bold-600 pr-0">@item.PlanificationJournee_ValidePar</td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <span class="bx bx-dots-horizontal-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">
                                                                                    </span>
                                                                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 19px, 0px);" x-out-of-boundaries="">
                                                                                        <a class="dropdown-item  btn-outline-secondary" asp-action="DetailsPlan" asp-route-id="@item.PlanificationJournee_ID"><i class="bx bx-info-square"></i>Afficher les détails de planification  </a>
                                                                                        <a class="dropdown-item btn-outline-primary" asp-action="BonDeSortie" asp-route-id="@item.PlanificationJournee_BonDeSortieID"><i class="bx bx-detail"></i>Afficher le bon de sortie </a>
                                                                                        <a class="dropdown-item btn-outline-primary" asp-action="ConsulterProdBase" asp-route-id="@item.PlanificationJournee_ID"><i class="bx bx-list-ol"></i>Liste des produits de base demandés </a>

                                                                                    </div>
                                                                                </div>

                                                                            </td>
                                                                        }
                                                                        else if (item.PlanificationJournee_Etat == "Annulée")
                                                                        {
                                                                            <td class="text-bold-600 pr-0"><a class="btn btn-outline-danger btn-table round" href="#0"><i class="bx bx-x"></i>Annulée</a></td>
                                                                            <td class="text-bold-600 pr-0">@item.PlanificationJournee_ValidePar</td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <span class="bx bx-dots-horizontal-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">
                                                                                    </span>
                                                                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 19px, 0px);" x-out-of-boundaries="">
                                                                                        <a class="dropdown-item  btn-outline-secondary" asp-action="DetailsPlan" asp-route-id="@item.PlanificationJournee_ID"><i class="bx bx-info-square"></i>Afficher les détails de planification </a>
                                                                                        <a class="dropdown-item btn-outline-primary" asp-action="BonDeSortie" asp-route-id="@item.PlanificationJournee_BonDeSortieID"><i class="bx bx-detail"></i>Afficher le bon de sortie </a>
                                                                                        <a class="dropdown-item btn-outline-primary" asp-action="ConsulterProdBase" asp-route-id="@item.PlanificationJournee_ID"><i class="bx bx-list-ol"></i>Liste des produits de base demandés</a>

                                                                                    </div>
                                                                                </div>

                                                                            </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td class="text-bold-600 pr-0"><a class="btn btn-outline-danger btn-table round" href="#0"><i class="bx bx-x"></i>M.P retournées</a></td>
                                                                            <td class="text-bold-600 pr-0">@item.PlanificationJournee_ValidePar</td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <span class="bx bx-dots-horizontal-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">
                                                                                    </span>
                                                                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 19px, 0px);" x-out-of-boundaries="">
                                                                                        <a class="dropdown-item  btn-outline-secondary" asp-action="DetailsPlan" asp-route-id="@item.PlanificationJournee_ID"><i class="bx bx-info-square"></i>Afficher les détails de planification </a>
                                                                                        <a class="dropdown-item btn-outline-primary" asp-action="BonDeSortie" asp-route-id="@item.PlanificationJournee_BonDeSortieID"><i class="bx bx-detail"></i>Afficher le bon de sortie </a>
                                                                                        <a class="dropdown-item btn-outline-primary" asp-action="ConsulterProdBase" asp-route-id="@item.PlanificationJournee_ID"><i class="bx bx-list-ol"></i>Liste des produits de base demandés</a>

                                                                                    </div>
                                                                                </div>

                                                                            </td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- datatable ends -->
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
            <div class="container">

                @if (pager.TotalPages > 0)
                {
                    <ul class="pagination justify-content-end">
                        @if (pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="ListeDesPlans" asp-route-pg="1" asp-route-etat="@Context.Request.Query[" etat"]" asp-route-point="@Context.Request.Query[" point"]" asp-route-date="@Context.Request.Query[" date"]"><i class="bx bx-chevrons-left"></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-action="ListeDesPlans" asp-route-pg="@(pager.CurrentPage - 1)" asp-route-etat="@Context.Request.Query[" etat"]" asp-route-point="@Context.Request.Query[" point"]" asp-route-date="@Context.Request.Query[" date"]"><i class="bx bx-chevrons-left"></i></a>
                            </li>
                        }
                        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                        {
                            <li class="page-item @(pge == pager.CurrentPage?" active":"")">
                                <a class="page-link" asp-action="ListeDesPlans" asp-route-pg="@pge" asp-route-etat="@Context.Request.Query[" etat"]" asp-route-point="@Context.Request.Query[" point"]" asp-route-date="@Context.Request.Query[" date"]">@pge</a>
                            </li>
                        }
                        @if (pager.CurrentPage < pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="ListeDesPlans" asp-route-pg="@(pager.CurrentPage + 1)" asp-route-etat="@Context.Request.Query[" etat"]" asp-route-point="@Context.Request.Query[" point"]" asp-route-date="@Context.Request.Query[" date"]"><i class="bx bx-chevron-right"></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-action="ListeDesPlans" asp-route-pg="@(pager.TotalPages)" asp-route-etat="@Context.Request.Query[" etat"]" asp-route-point="@Context.Request.Query[" point"]" asp-route-date="@Context.Request.Query[" date"]"><i class="bx bx-chevrons-right"></i></a>
                            </li>
                        }
                    </ul>

                }
            </div>

            <!-- Dashboard Ecommerce ends -->
            <div class="breadcrumb-item text-sm-right">
                <a class="btn btn-outline-success round mr-1 mb-1" asp-action="Planification"><i class="bx bx-dish"></i><span class="align-middle ml-25">Planifier une production</span></a>
            </div>
        </div>
    </div>
</div>




<!-- END: Content-->
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<script type="text/javascript">






   

    
    function refresh() {
       // $('#myModal').modal('toggle');
        setTimeout(
            function () {
                window.location.reload();
            }, 500);
    }

    function displayDashboard() {
        var etat = $("#etat").val();
        var point = $("#point").val();
        var point2 = $("#point2").val();
        var date = $("#date").val();
        window.location.href = '/ProduitVendable/ListeDesPlans?etat=' + etat + "&point=" + point+ "&point2=" + point2 + "&date=" + date;
    }
    Date.prototype.toDateInputValue = (function () {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 10);
    });
    document.getElementById('date').value = new Date().toDateInputValue();
</script>

