@model IEnumerable<Domain.Models.TransfertMatiere_Model>
@using Web.Helpers;
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@{
    ViewData["Title"] = " Ordres de transfert";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:history.go(-1)"><i class="bx bxs-left-arrow-circle"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a asp-action="ListeDesTransfer">Liste des ordres de transfert </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">
                <div class="form-row">                   
                    <div class="col-md-3  offset-3">
                        <label for="role">Statut de l'ordre</label>
                        <div>
                            <select class="custom-select" id="statut" data-search="true"  >
                                <option value="" selected disabled>Sélectionnez un statut...</option>
                                <option value="En attente">En attente</option>
                                <option value="Validé">Validé</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 mb-1">
                        <div class="form-group">
                            <label for="Date">Date d'ordre</label>
                            <div>
                                <input type="date" class="form-control" name="datepicker" id="date" />
                            </div>
                        </div>
                    </div>
                  
                    
                    <div class="text-md-right">
                        <button class="btn btn-sm btn-success glow mt-md-2 mb-1" onclick="displayDashboard()">Filtrer</button>
                    </div>
                </div>
                <div class="row">
                    <!-- Greetings Content Starts -->
                    <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                        <div class="card">
                            <div class="card-header">
                                <a class="heading-elements-toggle">
                                    <i class="bx bx-dots-vertical font-medium-3"></i>
                                </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <a data-action="collapse">
                                                <i class="bx bx-chevron-down"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="expand">
                                                <i class="bx bx-fullscreen"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="reload">
                                                <i class="bx bx-revision"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- table success start -->
                                            <section id="table-success">
                                                <div class="card">
                                                    <!-- datatable start -->
                                                    <div class="table">
                                                         <div>
                                                            @{ var a = @Model.FirstOrDefault(); }
                                                            @if (a == null)
                                                            {<h4 class="card-title">Veuillez selectionner une date </h4> }
                                                            else
                                                            {<h4> Liste des ordres de transfert du : <b>"@Model.FirstOrDefault().TransfertMat_DateCreation.Date"</b> </h4>}
                                                        </div>
                                                        <table id="table-Cartographie-Deposees" class="table mb-0">
                                                            <thead>
                                                                <tr>

                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">N° Transfert</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Creé par</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Date de création</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Statut </th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Actions</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody id="usertbody">
                                                                @foreach (var item in Model)
                                                                {
                                                                    <tr>
                                                                        <td class="border-b dark:border-dark-5">@Html.DisplayFor(modelItem => item.TransfertMat_Numero)</td>
                                                                        <td class="border-b dark:border-dark-5">@Html.DisplayFor(modelItem => item.TransfertMat_CreePar)</td>
                                                                        <td class="border-b dark:border-dark-5">@Html.DisplayFor(modelItem => item.TransfertMat_DateCreation)</td>
                                                                        <td class="border-b dark:border-dark-5 ">@Html.DisplayFor(modelItem => item.TransfertMat_Statut)</td>
                                                                        <td>
                                                                            <div class="dropdown">
                                                                                <span class="bx bx-dots-horizontal-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">
                                                                                </span>
                                                                                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 19px, 0px);" x-out-of-boundaries="">
                                                                                    <a class="dropdown-item btn-outline-secondary" asp-action="ListeDesMatieres" asp-route-id="@item.TransfertMat_ID"><i class="bx bx-list "></i>Liste des matières premières</a>
                                                                                </div>
                                                                            </div>
                                                                        </td>

                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>

                                                    </div>
                                                    <!-- datatable ends -->
                                                </div>
                                            </section>
                                            <!-- table success ends -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
            <!-- Dashboard Ecommerce ends -->
            <div class="container">
                @if (pager.TotalPages > 0)
                {
                    <ul class="pagination justify-content-end">
                        @if (pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="ListeBonDeLivraison" asp-route-pg="1" asp-route-fournisseurID="@Context.Request.Query["bonCommandeID"]" asp-route-date="@Context.Request.Query["date"]"><i class="bx bx-chevrons-left"></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-action="ListeBonDeLivraison" asp-route-pg="@(pager.CurrentPage - 1)" asp-route-fournisseurID="@Context.Request.Query["bonCommandeID"]" asp-route-date="@Context.Request.Query["date"]" ><i class="bx bx-chevron-left"></i></a>
                            </li>
                        }
                        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                        {
                            <li class="page-item @(pge == pager.CurrentPage?"active":"")">
                                <a class="page-link"  asp-action="ListeBonDeLivraison" asp-route-pg="@pge" asp-route-fournisseurID="@Context.Request.Query["bonCommandeID"]" asp-route-date="@Context.Request.Query["date"]">@pge</a>
                            </li>
                        }
                        @if (pager.CurrentPage < pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link"  asp-action="ListeBonDeLivraison" asp-route-pg="@(pager.CurrentPage + 1)" asp-route-fournisseurID="@Context.Request.Query["bonCommandeID"]" asp-route-date="@Context.Request.Query["date"]" ><i class="bx bx-chevron-right"></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"  asp-action="ListeBonDeLivraison" asp-route-pg="@(pager.TotalPages)" asp-route-fournisseurID="@Context.Request.Query["bonCommandeID"]" asp-route-date="@Context.Request.Query["date"]"><i class="bx bx-chevrons-right"></i></a>
                            </li>
                        }
                    </ul>

                }
            </div>
            <div class="breadcrumb-item text-sm-right ">
                <a class="btn btn-outline-success round mr-1 mb-1" asp-action="MatieresEnStock"><i class="bx bx-user-plus"></i><span class="align-middle ml-25">Ajouter un  ordre de transfert</span></a>
            </div>
        </div>
    </div>
</div>

<!-- END: Content-->
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

      function getBcFournisseur()
    {
        var data = { 
            fournisseurID: parseInt($("#fournisseur option:selected").val()),
            date: $("#date").val(),
            etat: $("#etatBC").val(),

        };
        if ($("#fournisseur option:selected").val() != null) {
            $.ajax({
                url: '@Url.Action("getBcFournisseur", "Fournisseur")',
                type: "POST",
                cache: false,
                async: true,
                data: data,
                success: function (data) {
                    if ($("#bondecommande option").length > 1) {
                        $.each($("#bondecommande option"), function (i, item) {
                            item.remove();
                        });
                        $("#bondecommande").append("<option value='' selected disabled>Sélectionnez un bon de commande ...</option>");
                    }
                    $.each(data, function (i, item) {
                        $("#bondecommande").append($('<option>', {
                            value: item.value,
                                text: item.text
                        }));
                    });
                },
                error: function () {
                }
            });
        }
    }



 
    function displayDashboard() {
        var statut = $("#statut option:selected").val();
        var date = $("#date").val();
        window.location.href = '/fournisseur/ListeDesTransfer?statut=' + statut + "&date=" + date;
    }
    Date.prototype.toDateInputValue = (function () {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 10);
    });
    document.getElementById('date').value = new Date().toDateInputValue();
</script>