@{ ViewData["Title"] = "Gestion de Stock";
    Layout = "~/Views/Shared/_Layout1.cshtml"; }

@model Domain.Models.MouvementProduitsConsoModel


<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:history.go(-1)"><i class="bx bxs-left-arrow-circle"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a asp-action="ListMouvementsProduits">Mouvements de stock</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="basic-form-layouts">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Réception des produits prêt à consommer</h4>
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title" id="basic-layout-form"></h4>
                    </div>
                </div>
                <div class="card-body">
                    <fieldset>
                        <legend>Réception fournisseur</legend>
                        <div class="form-row">
                            <div class="col-md-2 mb-1">
                                <label for="Fournisseur">Fournisseur</label>
                                <div>
                                    <select class="custom-select" id="fournisseur" data-search="true" asp-for="MouvementProduitsConso_FournisseurProduitId" asp-items="@ViewBag.MouvementStock_FournisseurId" onchange="matiereListe()">
                                        <option value="" selected disabled>Sélectionnez un fournisseur...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 mb-1">
                                <label for="matierePremiere">Produit prêt à consommer</label>
                                <div>
                                    <select class="custom-select" id="matiere" data-search="true" onchange="uniteListe()">
                                        <option value="" selected disabled>Sélectionnez le produit...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 mb-1">
                                <label for="matierePremiere">Forme</label>
                                <div>
                                    <select class="custom-select" id="forme" data-search="true" asp-for="MouvementProduitsConso_ProduitConsoId" >
                                        <option value="" selected disabled>Sélectionnez une forme...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1 mb-1">
                                <label for="Quantite">Quantité</label>
                                <input type="number" min="0" id="qte" step=".01" asp-for="MouvementProduitsConso_Quantite" class="form-control" required />
                            </div>
                            <div class="col-md-1 mb-1">
                                <label for="UniteMesure">Unité</label>
                                <div>
                                    <select class="custom-select" id="unite" data-search="true" asp-for="MouvementProduitsConso_UniteMesureId" asp-items="@ViewBag.MouvementStock_UniteMesureId">
                                        <option value="" selected disabled>Sélectionnez une unité de mesure...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 mb-1">
                                <div class="form-group">
                                    <label for="DateReception">Date de réception</label>
                                    <input type="date" id="date" asp-for="MouvementProduitsConso_DateMouvement" class="form-control" required />
                                </div>
                            </div>
                            <div class=" text-md-right">
                                <button class="btn btn-sm btn-success glow mt-md-2 mb-1" onclick="camionAdd()">Ajouter à la liste</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-2">
                                <div class="table-responsive">
                                    <table id="tableCamions" class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th>Fournisseur</th>
                                                <th class="text-sm-left">Produit prêt à consommer</th>
                                                <th class="text-sm-left">Forme</th>
                                                <th class="text-sm-left">Quantité</th>
                                                <th class="text-sm-left">Unité</th>
                                                <th class="text-sm-left">Date de Réception</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="card-footer d-flex justify-content-between text-sm-right">
                    <div>
                        <button type="button" class="btn btn-success glow " style="display:none;"></button>
                    </div>

                    <div>
                        <button type="button" class="btn btn-success glow " id="disabled" onclick="AjoutTrpMoral()">Enregistrer la réception</button>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>
<script>

   

    function matiereListe()
    {
        var data = { fournisseurId: parseInt($("#fournisseur").val()) };
        if ($("#fournisseur").val() != null) {
            $.ajax({
                url: '@Url.Action("ProsuitConsoListe", "ProduitVendable")',
                type: "POST",
                cache: false,
                async: true,
                data: data,
                success: function (data) {
                    if ($("#matiere option").length > 1) {
                        $.each($("#matiere option"), function (i, item) {
                            item.remove();
                        });
                        $("#matiere").append("<option value='' selected disabled>Sélectionnez La matiere premiere</option>");
                    }
                    $.each(data, function (i, item) {
                        $("#matiere").append($('<option>', {
                            value: item.value,
                                text: item.text
                        }));
                    });
                },
                error: function () {
                }
            });
        }
    }
    function uniteListe()
    {
        var data = { produitStockageId: parseInt($("#matiere option:selected").val()) };
        if ($("#matiere option:selected").val() != null) {
            $.ajax({
                url: '@Url.Action("getUniteAchatproduit", "ProduitVendable")',
                type: "POST",
                cache: false,
                async: true,
                data: data,
                success: function (data) {
                    if ($("#unite option").length > 1) {
                        $.each($("#unite option"), function (i, item) {
                            item.remove();
                        });
                        $("#unite").append("<option value='' selected disabled>Sélectionnez L'unite de mesure</option>");
                    }
                    $.each(data, function (i, item) {
                        $("#unite").append($('<option>', {
                            value: item.value,
                                text: item.text
                        }));
                    });
                },
                error: function () {
                }
            });
            var data2 = {
                fournisseur: parseInt($("#fournisseur").val()),
                produitID: parseInt($("#matiere option:selected").val())

            }
            $.ajax({
                url: '@Url.Action("FormeConsoListe", "ProduitVendable")',
                type: "POST",
                cache: false,
                async: true,
                data: data2,
                success: function (data) {
                    if ($("#forme option").length > 1) {
                        $.each($("#forme option"), function (i, item) {
                            item.remove();
                        });
                        $("#forme").append("<option value='' selected disabled>Sélectionnez une forme</option>");
                    }
                    $.each(data, function (i, item) {
                        $("#forme").append($('<option>', {
                            value: item.value,
                                text: item.text
                        }));
                    });
                },
                error: function () {
                }
            });

        }
    }
    function camionAdd() {

        if (//$("#Fonction").val() != null && $("#Fonction").val() != '' &&
            $("#fournisseur").val() != null && $("#fournisseur").val() != '' &&
            $("#forme").val() != null && $("#forme").val() != '' &&
            $("#unite").val() != null && $("#unite").val() != '' &&
            $("#qte").val() != null && $("#qte").val() != '' &&
            $("#date").val() != null && $("#date").val() != ''

        ) {
            camionAjout();
            formCamionClear();
        }
    }

    function camionAjout() {
        var matiere = 0;
        var quantite = 0;
        var unite = 0;
        var table = document.getElementById("tbodyCamions");

        var fournisseurval = $("#fournisseur option:selected").val();
        var matiereval = $("#forme option:selected").val();
        var quantiteval = $("#qte").val();
        var uniteval = $("#unite option:selected").val();
        var uniteText = $("#unite option:selected").text();
        var dateval = $("#date").val();
        if ($("#tableCamions tbody").length == 0) {
            $("#tableCamions").append("<tbody id='tbodyCamions'></tbody>");
            //document.getElementById('divTable').style.display = "block";
        } else {
            for (var i = 0; i < table.rows.length; i++) {
                if (table.rows[i].cells[1].innerHTML == matiereval) {
                    if ((uniteval == 1 && table.rows[i].cells[2].innerHTML == 2) || (uniteval == 4 && table.rows[i].cells[2].innerHTML == 3)) { quantiteval = parseFloat(quantiteval) / 1000; }
                    else if ((uniteval == 2 && table.rows[i].cells[2].innerHTML == 1) || (uniteval == 3 && table.rows[i].cells[2].innerHTML == 4)) { quantiteval = parseFloat(quantiteval) * 1000; }
                    else { quantiteval = parseFloat(quantiteval); }
                    matiere = table.rows[i].cells[1].innerHTML;
                    quantite = table.rows[i].cells[6].innerHTML;
                    uniteVal = table.rows[i].cells[2].innerHTML;
                    uniteText = table.rows[i].cells[7].innerHTML;
                    table.rows[i].remove();
                }
            }
        }
        quantiteval = parseFloat(quantiteval) + parseFloat(quantite);

        $("#tbodyCamions").append("<tr>" +
            "<td class='border-b dark:border-dark-5' style='display:none;'>" + fournisseurval + "</td>" +
            "<td class='border-b dark:border-dark-5' style='display:none;'>" + matiereval + "</td>" +
            "<td class='border-b dark:border-dark-5' style='display:none;'>" + uniteval + "</td>" +
            "<td class='border-b dark:border-dark-5 text-sm-left'>" + $("#fournisseur option:selected").text() + "</td>" +
            "<td class='border-b dark:border-dark-5 text-sm-left'>" + $("#matiere option:selected").text() + "</td>" +
            "<td class='border-b dark:border-dark-5 text-sm-left'>" + $("#forme option:selected").text() + "</td>" +
            "<td class='border-b dark:border-dark-5 text-sm-center'>" + parseFloat(quantiteval).toFixed(2) + "</td>" +
            "<td class='border-b dark:border-dark-5 text-sm-left'>" + uniteText + "</td>" +
            "<td class='border-b dark:border-dark-5 text-sm-left'>" + dateval + "</td>" +
            "<td >" +
            '<button class="btn btn-outline-secondary btn-table round" onclick="CamionDelete(this)"><i class="bx bx-trash-alt"></i>Supprimer</button>' +
            "</tr>");


    }
    function formCamionClear() {
        $("#matiere").val("");
        $("#forme").val("");
        $("#qte").val("");
        $("#unite").val("");
    }

    //delete
    function CamionDelete(ctl) {
        $(ctl).parents("tr").remove();
        if ($("#tableCamions tbody tr").length == 0) {
            //document.getElementById('divTable').style.display = "none";
        }
    }
    function AjoutTrpMoral() {
        document.getElementById('disabled').disabled = true;
        var ListeRecep = new Array();
        var table = document.getElementById("tbodyCamions");
        var Fournisseur = 0;
        var matiereStockage = 0;
        var quantite = 0.00;
        var unite = 0;
        var date = "";

        for (var i = 0; i < table.rows.length; i++)
        {
            Fournisseur = table.rows[i].cells[0].innerHTML;
            matiere = table.rows[i].cells[1].innerHTML;
            quantite = table.rows[i].cells[6].innerHTML;
            unite = table.rows[i].cells[2].innerHTML;
            date = table.rows[i].cells[8].innerHTML;

            var Reception = {
                MouvementProduitsConso_ProduitConsoId: 0,
                MouvementProduitsConso_DateMouvement: "",
                MouvementProduitsConso_Quantite: 0,
                MouvementProduitsConso_UniteMesureId: 0,
                MouvementProduitsConso_FournisseurProduitId: 0,
            }

            Reception.MouvementProduitsConso_ProduitConsoId = matiere;
            Reception.MouvementProduitsConso_DateMouvement = date;
            Reception.MouvementProduitsConso_Quantite = parseFloat(quantite).toFixed(2).replace(".",",");
            Reception.MouvementProduitsConso_UniteMesureId = unite;
            Reception.MouvementProduitsConso_FournisseurProduitId = Fournisseur;
            ListeRecep.push(Reception);

        }



            var data = {
                mouvementStockModel: ListeRecep
        };
            console.log(data);
        $.ajax({
            url: '@Url.Action("ReceptionProduitsConsomable", "ProduitVendable")',
            type: "POST",
            cache: false,
            async: true,
            data: data,
            success: function (data) {
             if (data == true) {
                        ShowNotification("Mouvement  ajouté avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
                        setTimeout(
                            function () {
                               window.location.href = '@Url.Action("ListMouvementsProduits", "ProduitVendable")';
                            }, 2000);
                    } else {
                        ShowNotification("Une erreur s'est produite!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
                        setTimeout(
                            function () {
                                window.location.href = '@Url.Action("ReceptionProduitsConsomable", "ProduitVendable")';
                            }, 2000);
                    }
                },
        error: function () {
            alert("non ajoute");
        }
    });
    }
    Date.prototype.toDateInputValue = (function () {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 10);
    });
    document.getElementById('date').value = new Date().toDateInputValue();

</script>

