@model IEnumerable<Domain.Models.MouvementProduitsConsoModel>
@{ Layout = "~/Views/Shared/_Layout1.cshtml"; }
@{ ViewData["Title"] = "Mouvements des produits consommable "; }
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:history.go(-1)"><i class="bx bxs-left-arrow-circle"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="#">Liste des mouvements</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">
                <div class="form-row">
                    <div class="col-md-3 offset-md-1 mb-1">
                        <label for="produit">Produits prêts à consommer</label>
                        <div>
                            <select class="custom-select" id="produit" data-search="true" asp-items="@ViewBag.produits" onchange="familleList()">
                                <option value="" selected disabled>Sélectionnez un produit en stock...</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 mb-1">
                        <label for="forme">Forme de produit</label>
                        <div>
                            <select class="custom-select" id="forme" data-search="true" >
                                <option value="" selected disabled>Sélectionnez une forme de produit...</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 mb-1">
                        <div class="form-group">
                            <label for="Date">Date de mouvement</label>
                            <input type="date" id="date" class="form-control"/>
                        </div>
                    </div>
                    <div class=" text-md-right">
                        <button class="btn btn-sm btn-success glow mt-md-2 mb-1" onclick="displayDashboard()">Filtrer</button>
                    </div>
                </div>
                <div class="row">
                    <!-- Greetings Content Starts -->
                    <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Mouvements des produits prêt à consommer</h4>
                                <a class="heading-elements-toggle">
                                    <i class="bx bx-dots-vertical font-medium-3"></i>
                                </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <a data-action="collapse">
                                                <i class="bx bx-chevron-down"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="expand">
                                                <i class="bx bx-fullscreen"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="reload">
                                                <i class="bx bx-revision"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- table success start -->
                                            <section id="table-success">
                                                <div class="card">
                                                    <!-- datatable start -->
                                                    <div class="table table-responsive  ">
                                                        <table id="table-Cartographie-Deposees" class="table mb-0">
                                                            <thead>
                                                                <tr>

                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Produit prêt à consommer</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap text-sm-left">Forme</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap text-sm-left">Quantité</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap text-sm-left">Type de mouvement</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Date de mouvement</th>
                                                                    @*                                                                    <th>Action</th>
                                                                    *@
                                                                </tr>
                                                            </thead>
                                                            <tbody id="usertbody">
                                                                @foreach (var item in Model.OrderByDescending(p=>p.MouvementProduitsConso_DateMouvement))
                                                                {

                                                                <tr>
                                                                    @{ var qte = decimal.Parse(item.MouvementProduitsConso_Quantite.ToString()).ToString("G29");}
                                                                    <td class="text-bold-600 pr-0">@Html.DisplayFor(modelItem => item.ProduitConsomable_Stokage.Produit_PretConsomer.ProduitPretConsomer_Designation)</td>
                                                                    <td class="text-bold-600 pr-0 text-sm-left">@Html.DisplayFor(modelItem => item.ProduitConsomable_Stokage.Forme_Produit.FormeProduit_Libelle)</td>
                                                                    <td class="text-bold-600 pr-0 text-sm-left">@qte @Html.DisplayFor(modelItem => item.Unite_Mesure.UniteMesure_Libelle)</td>
                                                                    @if (item.MouvementProduitsConso_MouvementType == 2)
                                                                    {
                                                                <td class="text-bold-600 pr-0 text-danger text-sm-left">Sortie de Stock</td> }
                                                                                else if (item.MouvementProduitsConso_MouvementType == 1)
                                                                                {
                                                                <td class="text-bold-600 pr-0 text-info text-sm-left">Alimentation intra stock</td> }
                                                                                else if (item.MouvementProduitsConso_MouvementType == 3)
                                                                                {
                                                                <td class="text-bold-600 pr-0 text-success text-sm-left">Réception fournisseur</td>}
                                                                    <td class="text-bold-600 pr-0">@Html.DisplayFor(modelItem => item.MouvementProduitsConso_DateMouvement)</td>






                                                                </tr>}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- datatable ends -->
                                                </div>
                                            </section>
                                            <!-- table success ends -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
            <!-- Dashboard Ecommerce ends -->
@*            <div class="breadcrumb-item text-sm-right">
                <a class="btn btn-outline-success round mr-1 mb-1" asp-action="MouvementsAll"><i class="bx bxs-detail"></i><span class="align-middle ml-25">Afficher la liste complete</span></a>
            </div>*@
        </div>
    </div>
</div>
<!-- END: Content-->
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<script>
    function displayDashboard() {
        var forme = $("#forme").val();
        var date = $("#date").val();

        window.location.href = '/ProduitVendable/ListMouvementsProduits?produit=' + forme + "&date=" + date;
    }
        function familleList()
    {
            var data = { produitId: parseInt($("#produit").val()) };
            if ($("#produit").val() != null) {
            $.ajax({
                url: '@Url.Action("FormeConsoEnStockListe", "ProduitVendable")',
                type: "POST",
                cache: false,
                async: true,
                data: data,
                success: function (data) {
                    if ($("#forme option").length > 1) {
                        $.each($("#forme option"), function (i, item) {
                            item.remove();
                        });
                        $("#forme").append("<option value='' selected disabled>Sélectionnez une forme de produit...</option>");
                    }
                    $.each(data, function (i, item) {
                        $("#forme").append($('<option>', {
                            value: item.value,
                                text: item.text
                        }));
                    });
                },
                error: function () {
                }
            });
        }
    }
    Date.prototype.toDateInputValue = (function () {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 10);
    });
    document.getElementById('date').value = new Date().toDateInputValue();

</script>
