@model IEnumerable<Domain.Models.PlanificationJourneeBaseModel>
@{ Layout = "~/Views/Shared/_Layout1.cshtml"; }
@using Web.Helpers;
@{
    ViewData["Title"] = "Liste des planifications de base";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:history.go(-1)"><i class="bx bxs-left-arrow-circle"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a asp-action="ListeDesPlansBase">Liste des planifications </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">
                <div class="form-row">
                    <div class="col-md-3 offset-md-1 mb-1">
                        <label for="etat">Etat</label>
                        <div>
                            <div>
                                <select class="custom-select" data-search="true" id="etat">
                                    <option value="" selected disabled>Sélectionnez un état de planification...</option>
                                    <option value="En traitement">Planification en traitement</option>
                                    <option value="livré">Matière première en cours de livraison</option>
                                    <option value="Recue">Matière première livrée</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-1">
                        <div class="form-group">
                            <label for="atelier">Point de production</label>
                            <div>
                                <select class="custom-select" id="point" data-search="true" asp-items="@ViewBag.production">
                                    <option value="" selected disabled>Sélectionnez un point de production...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-1">
                        <div class="form-group">
                            <label for="Date">Date de planification</label>
                            <div>
                                <input type="date" id="date" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class=" text-md-right">
                        <button class="btn btn-sm btn-success glow mt-md-2 mb-1" onclick="displayDashboard()">Filtrer</button>
                    </div>
                </div>
                <div class="row">
                    <!-- Greetings Content Starts -->
                    <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"> Liste des planifications </h4>
                                <a class="heading-elements-toggle">
                                    <i class="bx bx-dots-vertical font-medium-3"></i>
                                </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <a data-action="collapse">
                                                <i class="bx bx-chevron-down"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="expand">
                                                <i class="bx bx-fullscreen"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="reload">
                                                <i class="bx bx-revision"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- table success start -->
                                            <section id="table-success">
                                                <div class="card">
                                                    <!-- datatable start -->
                                                    <div class="table">
                                                        <table id="table-Cartographie-Deposees" class="table mb-0">
                                                            <thead>
                                                                <tr>

                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Date de Production</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap text-sm-left">Atelier</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Etat </th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Validé Par </th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="usertbody">
                                                                @foreach (var item in Model)
                                                                {

                                                                    <tr>
                                                                        @{var date = item.PlanificationJourneeBase_Date.ToShortDateString();}
                                                                        <td class="text-bold-600 pr-0 text-sm-left">Planification du: @Html.DisplayFor(modelItem => date)</td>
                                                                        <td class="text-bold-600 pr-0 text-sm-left">@Html.DisplayFor(modelItem => item.Atelier.Atelier_Nom)</td>
                                                                        @if (item.PlanificationJourneeBase_Etat == "En traitement")
                                                                        {

                                                                            <td class="text-bold-600 pr-0"><a class="btn btn-outline-warning btn-table round"><i class="bx bx-check"></i>En Traitement</a></td>
                                                                            <td class="text-bold-600 pr-0">@item.PlanificationJourneeBase_ValidePar</td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <span class="bx bx-dots-horizontal-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">
                                                                                    </span>
                                                                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 19px, 0px);" x-out-of-boundaries="">
                                                                                        <button class="dropdown-item btn-outline-success " onclick="Valider(@item.PlanificationJourneeBase_ID,@item.PlanificationJourneeBase_BonDeSortieID)"><i class="bx bx-check"></i>Livrer la matière première</button>
                                                                                        <a class="dropdown-item" asp-action="BonDeSortie" asp-route-id="@item.PlanificationJourneeBase_BonDeSortieID"><i class="bx bx-detail"></i>Afficher le bon de sortie </a>
                                                                                    </div>
                                                                                </div>

                                                                            </td>
                                                                        }
                                                                        else if (item.PlanificationJourneeBase_Etat == "Livré")
                                                                        {
                                                                            <td class="text-bold-600 pr-0"><a class="btn btn-outline-info btn-table round"><i class="bx bx-check"></i>En cours de Livraison</a></td>
                                                                            <td class="text-bold-600 pr-0">@item.PlanificationJourneeBase_ValidePar</td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <span class="bx bx-dots-horizontal-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">
                                                                                    </span>
                                                                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 19px, 0px);" x-out-of-boundaries="">
                                                                                        <a class="dropdown-item" asp-action="BonDeSortie" asp-route-id="@item.PlanificationJourneeBase_BonDeSortieID"><i class="bx bx-detail"></i>Afficher le bon de sortie </a>
                                                                                    </div>
                                                                                </div>

                                                                            </td>
                                                                        }
                                                                        else if (item.PlanificationJourneeBase_Etat == "Recue")
                                                                        {
                                                                            <td class="text-bold-600 pr-0"><a class="btn btn-outline-success btn-table round" href="#0"><i class="bx bx-check"></i>MP livrée</a></td>
                                                                            <td class="text-bold-600 pr-0">@item.PlanificationJourneeBase_ValidePar</td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <span class="bx bx-dots-horizontal-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">
                                                                                    </span>
                                                                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 19px, 0px);" x-out-of-boundaries="">
                                                                                        <a class="dropdown-item" asp-action="BonDeSortie" asp-route-id="@item.PlanificationJourneeBase_BonDeSortieID"><i class="bx bx-detail"></i>Afficher le bon de sortie </a>
                                                                                    </div>
                                                                                </div>

                                                                            </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td class="text-bold-600 pr-0"><a class="btn btn-outline-primary btn-table round" href="#0"><i class="bx bx-check"></i>MP disponible</a></td>
                                                                            <td class="text-bold-600 pr-0">@item.PlanificationJourneeBase_ValidePar</td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <span class="bx bx-dots-horizontal-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">
                                                                                    </span>
                                                                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 19px, 0px);" x-out-of-boundaries="">
                                                                                        <a class="dropdown-item btn-outline-primary" asp-action="BonDeSortie" asp-route-id="@item.PlanificationJourneeBase_BonDeSortieID"><i class="bx bx-detail"></i>Afficher le bon de sortie </a>
                                                                                    </div>
                                                                                </div>

                                                                            </td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- datatable ends -->
                                                </div>
                                            </section>
                                            <!-- table success ends -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
            <!-- Dashboard Ecommerce ends -->
               <div class="container">

                @if (pager.TotalPages > 0)
                {
                    <ul class="pagination justify-content-end">
                        @if (pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="ListeDesPlansBase" asp-route-pg="1" asp-route-etat="@Context.Request.Query["etat"]" asp-route-point="@Context.Request.Query["point"]" asp-route-date="@Context.Request.Query["date"]"><i class="bx bx-chevrons-left"></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-action="ListeDesPlansBase" asp-route-pg="@(pager.CurrentPage - 1)" asp-route-etat="@Context.Request.Query["etat"]" asp-route-point="@Context.Request.Query["point"]" asp-route-date="@Context.Request.Query["date"]"><i class="bx bx-chevrons-left"></i></a>
                            </li>
                        }
                        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                        {
                            <li class="page-item @(pge == pager.CurrentPage?"active":"")">
                                <a class="page-link" asp-action="ListeDesPlansBase" asp-route-pg="@pge" asp-route-etat="@Context.Request.Query["etat"]" asp-route-point="@Context.Request.Query["point"]" asp-route-date="@Context.Request.Query["date"]">@pge</a>
                            </li>
                        }
                        @if (pager.CurrentPage < pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="ListeDesPlansBase" asp-route-pg="@(pager.CurrentPage + 1)" asp-route-etat="@Context.Request.Query["etat"]" asp-route-point="@Context.Request.Query["point"]" asp-route-date="@Context.Request.Query["date"]"><i class="bx bx-chevron-right"></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-action="ListeDesPlansBase" asp-route-pg="@(pager.TotalPages)" asp-route-etat="@Context.Request.Query["etat"]" asp-route-point="@Context.Request.Query["point"]" asp-route-date="@Context.Request.Query["date"]"><i class="bx bx-chevrons-right"></i></a>
                            </li>
                        }
                    </ul>

                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade show" id="myModal" tabindex="-1" aria-labelledby="myModalLabel33" style="padding-right: 17px;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#c19d56">
                <h4 class="modal-title white" id="myModalLabel33">Extrait du bon de sortie</h4>
                <button class="close" data-toggle="modal" aria-label="Close" onclick="refresh()">
                    <i class="bx bx-x"></i>
                </button>
            </div>
            <form>
                <div class="modal-body" id="mbody">
                    <div class="row">
                        <!-- Greetings Content Starts -->
                        <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Livrer les matières premières</h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-sm-12" id="plan">
                                                <div class="card mb-1" id="plandiv">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="button" id="envbutton" onclick="Livrer()">
                        <i class="bx bx-send"></i>
                        Valider
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade show" tabindex="-1" aria-labelledby="myModalLabel33" style="padding-right: 17px;" aria-modal="true" role="dialog" id="matStocks">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#c19d56">
                <h4 class="modal-title white" id="myModalLabel">Impossible de livrer les matièeres</h4>
                <button class="close" data-toggle="modal" aria-label="Close" onclick="refresh()">
                    <i class="bx bx-x"></i>
                </button>
            </div>
            <form>
                <div class="modal-body" id="mbody">
                    <div class="row">
                        <!-- Greetings Content Starts -->
                        <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Liste des matières premières  en stock à alimenter</h4>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12 mt-2"  id="plan1">
                                                <div class="table-responsive">
                                                    <table id="plandiv1" class="table mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>Matère première</th>
                                                                <th>Quantité à livrer</th>
                                                                <th>Unité de mesure </th>
                                                                <th>Quantité en stock</th>
                                                                <th>Unité de mesure</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<!-- END: Content-->
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<script>
    function deleteProduitVendable(id)
    {
            var data = { id: id };
            $.ajax({
                url: '@Url.Action("DeletePlanification", "ProduitVendable")',
                type: "POST",
                cache: false,
                async: true,
                data: data,
                success: function (data) {
                    if (data == true) {
                        ShowNotification("Planification désactivé avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
                        setTimeout(
                            function () {
                                window.location.href = '@Url.Action("ListeDesPlans", "ProduitVendable")';
                                if ($("#usertbody tr").length == 0) {
                                    document.getElementById('usertable').style.display = "none";
                                }
                                }, 3000);

                    } else {
                        ShowNotification("Une erreur s'est produite!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
                        setTimeout(
                            function () {
                                   window.location.href = '@Url.Action("ListeDesPlans", "ProduitVendable")';
                                }, 3000);
                    }
                },
                error: function () {
                    alert("non supprime");
                }
            });
    }
    var ListBons = new Array();
    function Valider(planificationId, bonSortie) {
        $.ajax({
            url: '@Url.Action("getBonDeSortie", "ProduitVendable")',
            type: "POST",
            cache: false,
            async: true,
            data: { 'Id': bonSortie },
            success: function (data) {
                $('#myModal').modal('show');
                $("#plandiv").append("<div class='form-row'>"
                    + "<div><input type='text' disabled style='display:none;' id='palinf' value='" + planificationId+ "' class='form-control'/></div></div>");

                for (var i = 0; i < data.length; i++) {
                    if (data[i].bonDeSortie_QuantiteDemandee > 0.0001) {
                        $("#plandiv").append("<div class='form-row'>"
                            + "<div class= 'col-md-3 mb-1' >"
                            + "<label for='date'>Matière première</label>"
                            + "<div><input type='text' disabled id='matprem" + i + "' value='" + data[i].matiere_Premiere.matierePremiere_Libelle + "' class='form-control'/></div></div>"
                            + "<div class= 'col-md-3 mb-1' >"
                            + "<label for='date'>Quantité demandée</label>"
                            + "<div><input type='number' disabled id='qteDem" + i + "' value='" + data[i].bonDeSortie_QuantiteDemandee + "' class='form-control'/></div></div>"
                            + "<div class= 'col-md-3 mb-1' >"
                            + "<label for='date'>Quantité à livrer</label>"
                            + "<div><input type='number' id='" + data[i].bonDetails_ID + "' value='" + data[i].bonDeSortie_QuantiteDemandee + "'  class='form-control'/></div></div>"
                            + "<div class= 'col-md-3 mb-1' >"
                            + "<label for='date'>Unité de mesure</label>"
                            + "<div><input type='text' disabled id='unite" + i + "' value='" + data[i].unite_Mesure.uniteMesure_Libelle + "' class='form-control'/></div></div>");
                        var bon = {
                            ID: data[i].bonDetails_ID,
                            value: parseFloat(document.getElementById(data[i].bonDetails_ID).value).toFixed(3),
                        };
                        ListBons.push(bon);
                    } else {
                        var bon = {
                            ID: data[i].bonDetails_ID,
                            value: ""
                        }; ListBons.push(bon);

                    }
                    
                }

            },
            error: function () {
                ShowNotification("Error!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
            }
        });

    }
    function displayDashboard() {
        var etat = $("#etat").val();
        var point = $("#point option:selected").val();
        var date = $("#date").val();
        window.location.href = '/ProduitVendable/ListeDesPlansBase?etat=' + etat + "&point=" + point + "&date=" + date;
    }
    function refresh() {
        // $('#myModal').modal('toggle');
        setTimeout(
            function () {
                window.location.reload();
            }, 500);
    }
    function Livrer() {
        document.getElementById('envbutton').disabled = true;
        for (var i = 0; i < ListBons.length; i++) {
            ListBons[i].value = parseFloat($("#" + ListBons[i].ID).val()).toFixed(3).replace(".",",");
        }
        console.log(ListBons);
         $.ajax({
            url: '@Url.Action("AccepterPlanificationBase", "ProduitVendable")',
            type: "POST",
            cache: false,
            async: true,
             data: { 'planificationId': parseInt($("#palinf").val()), 'ListBons': ListBons },
             success: function (data) {
                if (data.flag == true) {
                    ShowNotification("Matières premières acceptées avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
                    setTimeout(
                        function () {
                            window.location.reload();
                        }, 3000);
                } else {

                    $('#matStocks').modal('show');
                    $('#myModal').modal('toggle');

                    for (var i = 0; i < data.matieres.length; i++) {

                        $("#plandiv1").append(
                            "<tr>" +
                            "<td class='border-b dark:border-dark-5'>" + data.matieres[i].matiereLibelle + "</td>" +
                            "<td class='border-b dark:border-dark-5'>" + data.matieres[i].qteLivrer + "</td>" +
                            "<td class='border-b dark:border-dark-5'>" + data.matieres[i].uniteLivrer + "</td>" +
                            "<td class='border-b dark:border-dark-5'>" + data.matieres[i].qteEnStock + "</td>" +
                            "<td class='border-b dark:border-dark-5'>" + data.matieres[i].uniteStock + "</td></tr>");
                    }
                }
            },
            error: function () {
                ShowNotification("Error!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
            }
        });
    }
    Date.prototype.toDateInputValue = (function () {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 10);
    });
    document.getElementById('date').value = new Date().toDateInputValue();
</script>

