@model IEnumerable<Domain.Models.PlanificationJourneeBaseModel>
@{ Layout = "~/Views/Shared/_Layout1.cshtml"; }
@using Web.Helpers;
@{
    ViewData["Title"] = "Liste des planifications";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:history.go(-1)"><i class="bx bxs-left-arrow-circle"></i></a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="#">Liste des planifications </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Dashboard Ecommerce Starts -->
            <section id="dashboard-ecommerce">
                <div class="form-row">
                    <div class="col-md-3 offset-md-1 mb-1">
                        <label for="etat">Etat</label>
                        <div>
                            <div>
                                <select class="custom-select" data-search="true" id="etat">
                                    <option value="" selected disabled>Sélectionnez un état de production...</option>
                                    <option value="En traitement">Matière première commandée</option>
                                    <option value="livré">Matière première en cours de livraison</option>
                                    <option value="Recue">Matière première reçue</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-1">
                        <div class="form-group">
                            <label for="atelier">Point de stockage</label>
                            <div>
                                <select class="custom-select" id="point" data-search="true" asp-items="@ViewBag.ZoneStockage_LieuStockageId">
                                    <option value="" selected disabled>Sélectionnez un point de stockage...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-1">
                        <div class="form-group">
                            <label for="Date">Date de planification</label>
                            <div>
                                <input type="date" id="date" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class=" text-md-right">
                        <button class="btn btn-sm btn-success glow mt-md-2 mb-1" onclick="displayDashboard()">Filtrer</button>
                    </div>
                </div>
                <div class="row">
                    <!-- Greetings Content Starts -->
                    <div class="col-xl-12 col-md-12 col-12 dashboard-greetings">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Liste des planifications de production des produits de base</h4>
                                <a class="heading-elements-toggle">
                                    <i class="bx bx-dots-vertical font-medium-3"></i>
                                </a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <a data-action="collapse">
                                                <i class="bx bx-chevron-down"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="expand">
                                                <i class="bx bx-fullscreen"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-action="reload">
                                                <i class="bx bx-revision"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!-- table success start -->
                                            <section id="table-success">
                                                <div class="card">
                                                    <!-- datatable start -->
                                                    <div class="table  ">
                                                        <table id="table-Cartographie-Deposees" class="table mb-0">
                                                            <thead>
                                                                <tr>

                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Date de Production</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap text-sm-left">Point de stockage  </th>
                                                                    @*                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Coût De Revient</th>
                                                                    *@
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Statut</th>
                                                                    <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap">Validé Par</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="usertbody">
                                                                @foreach (var item in Model)
                                                                {

                                                                    <tr>
                                                                        @*                                                                        @{var date = item.PlanificationJournee_Date.ToShortDateString();}
                                                                        *@
                                                                        <td class="text-bold-600 pr-0 ">@item.PlanificationJourneeBase_Date.ToShortDateString()</td>
                                                                        <td class="text-bold-600 pr-0 text-sm-left">@Html.DisplayFor(modelItem => item.Lieu_Stockage.LieuStockag_Nom)</td>
                                                                        @*                                                                        <td class="text-bold-600 pr-0">@Html.DisplayFor(modelItem => item.PlanificationJournee_CoutDeRevient)</td>
                                                                        *@
                                                                        @if (item.PlanificationJourneeBase_Etat == "En traitement")
                                                                        {

                                                                            <td class="text-bold-600 pr-0"><a class="btn btn-outline-warning btn-table round" href="#0"><i class="bx bx-check"></i>MP Commandée</a></td>
                                                                            <td class="text-bold-600 pr-0">@item.PlanificationJourneeBase_ValidePar</td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <span class="bx bx-dots-horizontal-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">
                                                                                    </span>
                                                                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 19px, 0px);" x-out-of-boundaries="">
                                                                                        <a class="dropdown-item  btn-outline-secondary" asp-action="DetailsPlanBase" asp-route-id="@item.PlanificationJourneeBase_ID"><i class="bx bx-info-square"></i>Afficher les détails de planification  </a>
                                                                                        <a class="dropdown-item btn-outline-light" asp-action="BonDeSortie" asp-route-id="@item.PlanificationJourneeBase_BonDeSortieID"><i class="bx bx-detail"></i>Afficher le bon de sortie </a>
                                                                                    </div>
                                                                                </div>

                                                                            </td>
                                                                        }
                                                                        else if (item.PlanificationJourneeBase_Etat == "Livré")
                                                                        {
                                                                            <td class="text-bold-600 pr-0"><a class="btn btn-outline-info btn-table round" href="#0"><i class="bx bx-check"></i>En cours de Livraison </a></td>
                                                                            <td class="text-bold-600 pr-0">@item.PlanificationJourneeBase_ValidePar</td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <span class="bx bx-dots-horizontal-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">
                                                                                    </span>
                                                                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 19px, 0px);" x-out-of-boundaries="">
                                                                                        <button class="dropdown-item btn-outline-success" onclick="Valider(@item.PlanificationJourneeBase_ID)"><i class="bx bx-check"></i>Valider la livraison</button>
                                                                                        <a class="dropdown-item  btn-outline-secondary" asp-action="DetailsPlanBase" asp-route-id="@item.PlanificationJourneeBase_ID"><i class="bx bx-info-square"></i>Afficher les détails de planification  </a>
                                                                                        <a class="dropdown-item  btn-outline-light" asp-action="BonDeSortie" asp-route-id="@item.PlanificationJourneeBase_BonDeSortieID"><i class="bx bx-detail"></i>Afficher le bon de sortie </a>
                                                                                    </div>
                                                                                </div>

                                                                            </td>
                                                                        }
                                                                        else if (item.PlanificationJourneeBase_Etat == "Recue")
                                                                        {
                                                                            <td class="text-bold-600 pr-0"><a class="btn btn-outline-success btn-table round" href="#0"><i class="bx bx-check"></i>MP Reçue</a></td>
                                                                            <td class="text-bold-600 pr-0">@item.PlanificationJourneeBase_ValidePar</td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <span class="bx bx-dots-horizontal-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">
                                                                                    </span>
                                                                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 19px, 0px);" x-out-of-boundaries="">
                                                                                        <button class="dropdown-item  btn-outline-secondary" data-target="#myModal" data-toggle="modal" onclick="fct(@item.PlanificationJourneeBase_ID)"><i class="bx bx-pencil"></i>Indiquer la quantité produite</button>
                                                                                        <a class="dropdown-item  btn-outline-secondary" asp-action="DetailsPlanBase" asp-route-id="@item.PlanificationJourneeBase_ID"><i class="bx bx-info-square"></i>Afficher les détails de planification  </a>
                                                                                        <a class="dropdown-item btn-outline-light" asp-action="BonDeSortie" asp-route-id="@item.PlanificationJourneeBase_BonDeSortieID"><i class="bx bx-detail"></i>Afficher le bon de sortie </a>
                                                                                    </div>
                                                                                </div>

                                                                            </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            <td class="text-bold-600 pr-0"><a class="btn btn-outline-primary btn-table round" href="#0"><i class="bx bx-check"></i>MP disponible</a></td>
                                                                            <td class="text-bold-600 pr-0">@item.PlanificationJourneeBase_ValidePar</td>
                                                                            <td>
                                                                                <div class="dropdown">
                                                                                    <span class="bx bx-dots-horizontal-rounded font-medium-3 dropdown-toggle nav-hide-arrow cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="menu">
                                                                                    </span>
                                                                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 19px, 0px);" x-out-of-boundaries="">
                                                                                        <button class="dropdown-item  btn-outline-secondary" data-target="#myModal" data-toggle="modal" onclick="fct(@item.PlanificationJourneeBase_ID)"><i class="bx bx-pencil"></i>Indiquer la quantité produite</button>
                                                                                        <a class="dropdown-item  btn-outline-secondary" asp-action="DetailsPlanBase" asp-route-id="@item.PlanificationJourneeBase_ID"><i class="bx bx-info-square"></i>Afficher les détails de planification  </a>
                                                                                        <a class="dropdown-item btn-outline-primary" asp-action="BonDeSortie" asp-route-id="@item.PlanificationJourneeBase_BonDeSortieID"><i class="bx bx-detail"></i>Afficher le bon de sortie </a>
                                                                                    </div>
                                                                                </div>

                                                                            </td>
                                                                        }
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- datatable ends -->
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
            <div class="container">

                @if (pager.TotalPages > 0)
                {
                    <ul class="pagination justify-content-end">
                        @if (pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="ListeDesPlansBase" asp-route-pg="1" asp-route-etat="@Context.Request.Query["etat"]" asp-route-point="@Context.Request.Query["point"]" asp-route-date="@Context.Request.Query["date"]"><i class="bx bx-chevrons-left"></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-action="ListeDesPlansBase" asp-route-pg="@(pager.CurrentPage - 1)" asp-route-etat="@Context.Request.Query["etat"]" asp-route-point="@Context.Request.Query["point"]" asp-route-date="@Context.Request.Query["date"]"><i class="bx bx-chevrons-left"></i></a>
                            </li>
                        }
                        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                        {
                            <li class="page-item @(pge == pager.CurrentPage?"active":"")">
                                <a class="page-link" asp-action="ListeDesPlansBase" asp-route-pg="@pge" asp-route-etat="@Context.Request.Query["etat"]" asp-route-point="@Context.Request.Query["point"]" asp-route-date="@Context.Request.Query["date"]">@pge</a>
                            </li>
                        }
                        @if (pager.CurrentPage < pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="ListeDesPlansBase" asp-route-pg="@(pager.CurrentPage + 1)" asp-route-etat="@Context.Request.Query["etat"]" asp-route-point="@Context.Request.Query["point"]" asp-route-date="@Context.Request.Query["date"]"><i class="bx bx-chevron-right"></i></a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-action="ListeDesPlansBase" asp-route-pg="@(pager.TotalPages)" asp-route-etat="@Context.Request.Query["etat"]" asp-route-point="@Context.Request.Query["point"]" asp-route-date="@Context.Request.Query["date"]"><i class="bx bx-chevrons-right"></i></a>
                            </li>
                        }
                    </ul>

                }
            </div>
            <!-- Dashboard Ecommerce ends -->
            <div class="breadcrumb-item text-sm-right">
                <a class="btn btn-outline-success round mr-1 mb-1" asp-action="PlanificationBase"><i class="bx bx-dish"></i><span class="align-middle ml-25">Planifier une production</span></a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade show" id="myModal" tabindex="-1" aria-labelledby="myModalLabel33" style="padding-right: 17px;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#c19d56">
                <h4 class="modal-title white" id="myModalLabel33">Indiquer la quantité produite.</h4>
                <button class="close" data-toggle="modal" aria-label="Close" onclick="refresh()">
                    <i class="bx bx-x"></i>
                </button>
            </div>
            <form action="#">
                <div class="modal-body" id="mbody">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="col-md-4">
                                    <label>Produit de base: </label>
                                    <select class="custom-select" id="produit" data-search="true" onchange="getQte()">
                                        <option value="" selected>Choisissez un produit ...</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Qté prévue: </label>
                                    <input type="number" id="qtepre" class="form-control" placeholder="Qté Prevue" onchange="setVal()" disabled>
                                </div>
                                <div class="col-md-3">
                                    <label>Qté produite: </label>
                                    <input type="number" id="qteproduite" placeholder="Qté Produite" class="form-control">
                                </div>
                                <div class="col-md-1">
                                    <label></label>
                                    <button type="button" class="btn btn-icon btn-light-secondary mr-1 mb-1" onclick="camionAdd()">
                                        <i class="bx bx-plus"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <div id="divTable" class="overflow-x-auto" style="display: none">
                                <table id="tableCamions" class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th class='border-b-2 dark:border-dark-5 whitespace-no-wrap'>Produit maison  </th>
                                            <th class='border-b-2 dark:border-dark-5 whitespace-no-wrap'>Quantite Prevue</th>
                                            <th class='border-b-2 dark:border-dark-5 whitespace-no-wrap'>Quantite Produite</th>
                                            <th class="border-b-2 dark:border-dark-5 whitespace-no-wrap"></th>
                                        </tr>
                                    </thead>

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="envbutton" onclick="ModifierQteProduite()" style="display: none">
                        <i class="bx bx-send"></i>
                        Enregistrer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>




<!-- END: Content-->
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<script type="text/javascript">
    function deleteProduitVendable(id)
    {
    var data = { id: id };
            $.ajax({
url: '@Url.Action("DeletePlanification", "ProduitVendable")',
                type: "POST",
                cache: false,
                async: true,
                data: data,
                success: function (data) {
        if (data == true) {
            ShowNotification("Planification désactivée avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
            setTimeout(
                function () {
                window.location.href = '@Url.Action("ListeDesPlans", "ProduitVendable")';
                if ($("#usertbody tr").length == 0) {
                    document.getElementById('usertable').style.display = "none";
                }
            }, 3000);

        } else {
            ShowNotification("Une erreur s'est produite!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
            setTimeout(
                function () {
                window.location.href = '@Url.Action("ListeDesPlans", "ProduitVendable")';
            }, 3000);
        }
    },
                error: function () {
        alert("non supprime");
    }
});
    }
    function Valider(planificationId) {
        $.ajax({
    url: '@Url.Action("AccepterPlanificationBase", "ProduitVendable")',
            type: "POST",
            cache: false,
            async: true,
            data: { 'planificationId': planificationId },
            success: function (data) {
    if (data.flag == true) {
        ShowNotification("Matières premières acceptées avec succés.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
        setTimeout(
            function () {
            window.location.href = '@Url.Action("ListeDesPlansBase", "ProduitVendable")';
        }, 3000);
    } else {
        ShowNotification("Une erreur s'est produite!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
    }
},
            error: function () {
    ShowNotification("Error!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);
}
        });
    }

    function fct(Id) {
        var data = { Id: Id }
        $("#mbody").append("<span style='display:none' id='spanVal'> " + Id + " </span>")
        $.ajax({
            url: '@Url.Action("produitListeBase", "ProduitVendable")',
            type: "POST",
            cache: false,
            async: true,
            data: data,
            success: function (data) {
                if ($("#produit option").length > 1) {
                    $.each($("#produit option"), function (i, item) {
                        item.remove();
                    });
                    $("#produit").append("<option value='' selected disabled>Sélectionnez un produit maison</option>");
                }
                $.each(data, function (i, item) {
                    $("#produit").append($('<option>', {
                        value: item.value,
                        text: item.text
                    }));
                });
            },
            error: function () {
            }
        });
    }

    function getQte() {
        var data = { Id: parseInt($("#spanVal").text()), produitId: parseInt($("#produit option:selected").val()) };
        $.ajax({
            url: '@Url.Action("QtePrevueBase", "ProduitVendable")',
            type: "POST",
            cache: false,
            async: true,
            data: data,
            success: function (data) {
                $("#qtepre").val(data);
            },
            error: function () {
            }
        });
    }

    function camionAdd() {

        if ($("#qteproduite").val() != null && $("#qteproduite").val() != '' &&
            $("#produit option:selected").val() != null && $("#produit option:selected").val() != '' )
        {
            document.getElementById('divTable').style.display = "block";
            camionAjout();
            formCamionClear();
        }
    }




    function camionAjout() {
        var table = document.getElementById("tbodyCamions");
        var quantite = 0;
        var prod = 0;
        var quantiteval = $("#qteproduite").val();
        var produit = $("#produit option:selected").val();

        if ($("#tableCamions tbody").length == 0) {
            $("#tableCamions").append("<tbody id='tbodyCamions'></tbody>");
            document.getElementById('divTable').style.display = "block";
            document.getElementById('envbutton').style.display = "block";
        }
        else {
            for (var i = 0; i < table.rows.length; i++) {
                if (table.rows[i].cells[0].innerHTML == produit) {
                    prod = table.rows[i].cells[0].innerHTML;
                    quantite = table.rows[i].cells[3].innerHTML;
                    table.rows[i].remove();
                    // table.rows[i].cells[7].innerHTML = parseFloat(table.rows[i].cells[7].innerHTML) + parseFloat(quantiteval);
                    // table.rows[i].cells[2].innerHTML = table.rows[i].cells[7].innerHTML;

                }
            }
        }
        $("#tbodyCamions").append("<tr>" +
            "<td class='border-b dark:border-dark-5' style='display:none;'>" + produit + "</td>" +
            "<td class='text-sm-left'>" + $("#produit option:selected").text() + "</td>" +
            "<td class='border-b dark:border-dark-5'  style='text-align: center;'>" + parseFloat($("#qtepre").val()) + "</td>" +
            "<td class='border-b dark:border-dark-5'style='text-align: center;'>" + quantiteval+ "</td>" +
            "<td class='text-right'>" +
            '<button class="btn btn-outline-danger btn-table round" onclick="CamionDelete(this)"><i class="bx bx-trash-alt"></i></button>' +
            "</tr>");

    }
    function formCamionClear() {
        $("#produit").val("");
        $("#qtepre").val("");
        $("#qteproduite").val("");
    }

    //delete
    function CamionDelete(ctl) {
        $(ctl).parents("tr").remove();
        if ($("#tableCamions tbody tr").length == 0) {
            //document.getElementById('divTable').style.display = "none";
        }
    }

    function ModifierQteProduite() {
        document.getElementById('envbutton').disabled = true;
        var ListePlans = new Array();
        var table = document.getElementById("tbodyCamions");
        var quantiteProduite = 0;
        var planificationId = 0;
        for (var i = 0; i < table.rows.length; i++)
        {
            planificationId = table.rows[i].cells[0].innerHTML;
            quantiteProduite = table.rows[i].cells[3].innerHTML;
            var plans = {
                PlanificationProductionBase_Id: parseInt(planificationId),
                PlanificationProductionBase_QuantiteProduite: parseFloat(quantiteProduite).toFixed(3).replace(".",","),
            };
            ListePlans.push(plans);
        }

        var data = {
            id: parseInt($("#spanVal").text()),
            plans: ListePlans,
        }
        console.log(data);
         $.ajax({
            url: '@Url.Action("ModifierQteProduiteBase", "ProduitVendable")',
            type: "POST",
            cache: false,
            async: true,
            data: data,
             success: function (data) {
                 if (data != null) {
                     ShowNotification("Quantité produite indiquée avec succé.", NotifToaster.SucessType, NotifToaster.Top_Full_Width);
                     setTimeout(
                         function () {
                             window.location.reload();
                         }, 500);
                 } else {
                     ShowNotification("Les matières premières demandées ne sont pas en stock, veuillez vérifier votre stock.", NotifToaster.WarningType, NotifToaster.Top_Full_Width);
                     setTimeout(
                         function () {
                             window.location.reload();
                         }, 2500);
                 }

            },
             error: function () {
                 ShowNotification("Error!", NotifToaster.ErrorType, NotifToaster.Top_Full_Width);

            }
        });
    }
    function refresh() {
       // $('#myModal').modal('toggle');
        setTimeout(
            function () {
                window.location.reload();
            }, 500);
    }
      function familleList()
    {
          var data = {
              Id: parseInt($("#spanVal").text()),
              produitId: parseInt($("#produit option:selected").val())
          };
          if ($("#produit").val() != null) {
            $.ajax({
                url: '@Url.Action("FormePlanifListe", "ProduitVendable")',
                type: "POST",
                cache: false,
                async: true,
                data: data,
                success: function (data) {
                    if ($("#forme option").length > 1) {
                        $.each($("#forme option"), function (i, item) {
                            item.remove();
                        });
                        $("#forme").append("<option value='' selected disabled>Sélectionnez une forme de produit</option>");
                    }
                    $.each(data, function (i, item) {
                        $("#forme").append($('<option>', {
                            value: item.value,
                                text: item.text
                        }));
                    });
                },
                error: function () {
                }
            });
        }
    }

    function displayDashboard() {
        var etat = $("#etat").val();
        var point = $("#point").val();
        var date = $("#date").val();
        window.location.href = '/ProduitVendable/ListeDesPlansBase?etat=' + etat + "&point=" + point + "&date=" + date;
    }
    Date.prototype.toDateInputValue = (function () {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0, 10);
    });
    document.getElementById('date').value = new Date().toDateInputValue();

    function setVal() {

        var qtepre = parseFloat($("#qtepre").val());
        $("#qteproduite").val(qtepre);

    }
</script>

